@using Nop.Web.Models.Catalog
@using Nop.Core
@using NSS.Plugin.Misc.SwiftPortalOverride
@using NSS.Plugin.Misc.SwiftCore.Helpers
@using NSS.Plugin.Misc.SwiftCore.Services
@using Nop.Services.Common

@inject ICustomerCompanyService customerCompanyService
@inject IGenericAttributeService genericAttributeService
@inject IWorkContext workContext

@model TopMenuModel

@{
    var currentCustomer = workContext.CurrentCustomer;
    var compIdCookieKey = string.Format(SwiftPortalOverrideDefaults.ERPCompanyCookieKey, currentCustomer.Id);
    string eRPCompanyId = genericAttributeService.GetAttribute<string>(currentCustomer, compIdCookieKey);
    bool isAP = customerCompanyService.Authorize(currentCustomer.Id, Convert.ToInt32(eRPCompanyId), ERPRole.AP);
    bool isOperations = customerCompanyService.Authorize(currentCustomer.Id, Convert.ToInt32(eRPCompanyId), ERPRole.Operations);
    bool isBuyer = customerCompanyService.Authorize(currentCustomer.Id, Convert.ToInt32(eRPCompanyId), ERPRole.Buyer);
}
<style>
    .active-tab {
        text-decoration: underline;
        color: #03175b !important;
    }
</style>
<div class="d-none d-lg-block flex-fill">
    <ul class="top-menu d-flex flex-row justify-content-center flex-fill mb-0 w-100">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMenuBefore })
        <li><a href="@Url.RouteUrl("Homepage")" class="dashboard px-3">DASHBOARD</a></li>
        @if (isBuyer)
        {
            <li><a href="@Url.RouteUrl("Plugin.Misc.SwiftPortalOverride.Catalog")" class="catalog px-3">SHOP</a></li>
        }
        @if (isOperations|| isBuyer)
        {
            <li><a href="@Url.RouteUrl("Plugin.Misc.SwiftPortalOverride.Orders")" class="orders px-3">ORDERS</a></li>
        }
        @if (isAP || isBuyer)
        {
            <li><a href="@Url.RouteUrl("Plugin.Misc.SwiftPortalOverride.Invoices")" class="invoices px-3">INVOICES</a></li>
        }
        <li><a href="@Url.RouteUrl("Plugin.Misc.SwiftPortalOverride.Resources")" class="resources px-3">RESOURCES</a></li>
    </ul>
</div>
<div class="top-menu d-lg-none d-flex flex-column justify-content-center mt-3">
    <div class="d-flex justify-content-center">
        <a href="@Url.RouteUrl("Homepage")" class="dashboard p-3">DASHBOARD</a>
    </div>
    @if (isBuyer)
    {
        <div class="d-flex justify-content-center">
            <a href="@Url.RouteUrl("Plugin.Misc.SwiftPortalOverride.Catalog")" class="catalog p-3">SHOP</a>
        </div>
    }
    @if (isOperations || isBuyer)
    {
        <div class="d-flex justify-content-center">
            <a href="@Url.RouteUrl("Plugin.Misc.SwiftPortalOverride.Orders")" class="orders p-3">ORDERS</a>
        </div>
    }
    @if (isAP || isBuyer)
    {
        <div class="d-flex justify-content-center">
            <a href="@Url.RouteUrl("Plugin.Misc.SwiftPortalOverride.Invoices")" class="invoices p-3">INVOICES</a>
        </div>
    }
    <div class="d-flex justify-content-center">
        <a href="@Url.RouteUrl("Plugin.Misc.SwiftPortalOverride.Resources")" class="resources p-3">RESOURCES</a>
    </div>
    <div class="d-flex justify-content-center">
        <a href="@Url.RouteUrl("Logout")" class="text-danger p-3">LOG OUT</a>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        switch (window.location.pathname) {
            case '/':
                $('.dashboard').addClass('active-tab');
                break;
            case '/catalog':
                $('.catalog').addClass('active-tab');
                break;
            case '/orders':
                $('.orders').addClass('active-tab');
                break;
            case '/invoices':
                $('.invoices').addClass('active-tab');
                break;
            case '/resources':
                $('.resources').addClass('active-tab');
                break;
            default:
            // code block
        }
    });
</script>