@using Nop.Web.Models.Customer
@model RegisterModel
@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/Misc.SwiftPortalOverride/Content/customstyle.css");
    Html.AddCssFileParts("~/Plugins/Misc.SwiftPortalOverride/Content/bootstrap.css");
}
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}




<div class="page registration-page">
    <div class="page-title">
        <h1>@T("Account.Register")</h1>
    </div>
    <div class="page-body">
        <form asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">

                <div class="form-fields">

                    <div class="container" style="padding:0 10em; margin-left:7em;">
                        <div class="row">
                            @if (Model.FirstNameEnabled)
                            {
                                <div class="col-md-6">
                                    <label asp-for="FirstName" style="display:block;" asp-postfix=":">First Name</label>
                                    <input asp-for="FirstName" />
                                    @if (Model.FirstNameRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="FirstName" style="display:flex;"></span>
                                </div>
                            }

                            <div class="col-md-6">
                                <label asp-for="Email" style="display:block;" asp-postfix=":">Work Email</label>
                                <input asp-for="Email" />
                                <nop-required />
                                <span asp-validation-for="Email" style="display:flex;"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="container" style="padding:0 10em; margin-left:7em;">
                        <div class="row">
                            @if (Model.LastNameEnabled)
                            {
                                <div class="col-md-6">
                                    <label asp-for="LastName" style="display:block;" asp-postfix=":">Last Name</label>
                                    <input asp-for="LastName" />
                                    @if (Model.LastNameRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="LastName" style="display:flex;"></span>
                                </div>
                            }
                            @if (Model.EnteringEmailTwice)
                            {
                                <div class="col-md-6">
                                    <label asp-for="ConfirmEmail" style="display:block;" asp-postfix=":">Confirm Email</label>
                                    <input asp-for="ConfirmEmail" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmEmail" style="display:flex;"></span>
                                </div>
                            }
                        </div>
                    </div>

                    <br />
                    <div class="container" style="padding:0 10em; margin-left:7em;">
                        <div class="row">
                            @if (Model.PhoneEnabled)
                            {
                                <div class="col-md-6">
                                    <label asp-for="Phone" style="display:block;" asp-postfix=":">Phone Number</label>
                                    <input asp-for="Phone" />
                                    @if (Model.PhoneRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="Phone" style="display:flex;"></span>
                                </div>
                            }
                            <div class="col-md-6">
                                <label asp-for="Password" style="display:block;" asp-postfix=":"></label>
                                <input asp-for="Password" />
                                <nop-required />
                                <span asp-validation-for="Password" style="display:flex;"></span>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="container" style="padding:0 10em; margin-left:7em;">
                        <div class="row">
                            @if (Model.CompanyEnabled)
                            {
                                @if (Model.CompanyEnabled)
                                {
                                    <div class="col-md-6">
                                        <label asp-for="Company" style="display:block;" asp-postfix=":">Company Name</label>
                                        <input asp-for="Company" />
                                        @if (Model.CompanyRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="Company" style="display:flex;"></span>
                                    </div>
                                }
                                <div class="col-md-6">
                                    <label asp-for="ConfirmPassword" style="display:block;" asp-postfix=":">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmPassword" style="display:flex;"></span>
                                </div>
                            }

                        </div>
                    </div>

                    @*<br />
                        <div class="container" style="padding:0 10em; margin-left:7em;">
                            <div class="row">
                                @if (Model.FirstNameEnabled)
                                {
                                    <div class="col-md-6">
                                        <label asp-for="FirstName" style="display:block;" asp-postfix=":"></label>
                                        <input asp-for="FirstName" />
                                        @if (Model.FirstNameRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="FirstName"></span>
                                    </div>
                                }
                                @if (Model.LastNameEnabled)
                                {
                                    <div class="col-md-6">
                                        <label asp-for="LastName" style="display:block;" asp-postfix=":"></label>
                                        <input asp-for="LastName" />
                                        @if (Model.LastNameRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="LastName"></span>
                                    </div>
                                }
                            </div>
                        </div>*@

                    @*
                        <br />
                            <div class="container" style="padding:0 10em; margin-left:7em;">
                            <div class="row">
                                @if (Model.FirstNameEnabled)
                                {
                                    <div class="col-md-6">
                                        <label asp-for="FirstName" style="display:block;" asp-postfix=":"></label>
                                        <input asp-for="FirstName" />
                                        @if (Model.FirstNameRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="FirstName"></span>
                                    </div>
                                }
                                @if (Model.LastNameEnabled)
                                {
                                    <div class="col-md-6">
                                        <label asp-for="LastName" style="display:block;" asp-postfix=":"></label>
                                        <input asp-for="LastName" />
                                        @if (Model.LastNameRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="LastName"></span>
                                    </div>
                                }
                            </div>
                        </div>*@

                    <br />
                    <div class="container" style="padding:0 10em; margin-left:7em;">
                        <div class="row">
                            @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                            {
                                @if (Model.NewsletterEnabled)
                                {
                                    <div class="col-md-6">
                                        <input asp-for="Newsletter" />
                                        <label asp-for="Newsletter" asp-postfix="">Sign me up to your newsletter</label>
                                        <span asp-validation-for="Newsletter"></span>
                                    </div>
                                }
                                @if (Model.CustomerAttributes.Count > 0)
                                {
                                    @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                                }
                            }


                            @if (Model.AcceptPrivacyPolicyEnabled || Model.GdprConsents.Count > 0)
                            {
                                @if (Model.AcceptPrivacyPolicyEnabled)
                                {
                                    <script asp-location="Footer">
                                $(document).ready(function() {
                                    $('#register-button').on('click', function() {
                                        if ($('#accept-consent').is(':checked')) {
                                            //do some stuff
                                            return true;
                                        } else {
                                            //just show validation errors, don't post
                                            alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                            return false;
                                        }
                                    });
                                });
                                    </script>
                                    <div class="accept-consent">
                                        <input id="accept-consent" type="checkbox" name="accept-consent" />
                                        <label for="accept-consent"></label>
                                        @if (Model.AcceptPrivacyPolicyPopup)
                                        {
                                            <span class="read" id="read-privacyinfo">Accept Terms and Privacy Policy</span>
                                            <script asp-location="Footer">
                                                $(document).ready(function() {
                                                    $('#read-privacyinfo').on('click',
                                                        function(e) {
                                                            displayPopupContentFromUrl(
                                                                '@Url.RouteUrl("TermsOfService", new {SystemName = "confirmation"})',
                                                                'Terms of Service', 10, 1000, true);
                                                        });
                                                });
                                            </script>
                                        }
                                        else
                                        {
                                            @*<a class="read" id="read-privacyinfo" href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("privacyinfo") })">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>*@
                                        }
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <input type="submit" id="register-button" class="button-1 register-next-step-button" value="Sign Up" name="register-button" />
            </div>
        </form>
    </div>
</div>