@using Nop.Web.Models.Customer
@model RegisterModel
@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/Misc.SwiftPortalOverride/Content/customstyle.css");
    Html.AddCssFileParts("~/Plugins/Misc.SwiftPortalOverride/Content/bootstrap.css");
}
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}




<div class="page registration-page">
    <div class="page-title">
        <h1>@T("Account.Register")</h1>
    </div>
    <div class="page-body">
        <form asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">

                <div class="form-fields">

                    <div class="container" style="padding:0 10em; margin-left:7em;">
                        <div class="row">
                            @if (Model.FirstNameEnabled)
                            {
                                <div class="col-md-6">
                                    <label asp-for="FirstName" style="display:block;" asp-postfix=":"></label>
                                    <input asp-for="FirstName" />
                                    @if (Model.FirstNameRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="FirstName"></span>
                                </div>
                            }

                            <div class="col-md-6">
                                <label asp-for="Email" style="display:block;" asp-postfix=":"></label>
                                <input asp-for="Email" />
                                <nop-required />
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="container" style="padding:0 10em; margin-left:7em;">
                        <div class="row">
                            @if (Model.LastNameEnabled)
                            {
                                <div class="col-md-6">
                                    <label asp-for="LastName" style="display:block;" asp-postfix=":"></label>
                                    <input asp-for="LastName" />
                                    @if (Model.LastNameRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="LastName"></span>
                                </div>
                            }
                            @if (Model.EnteringEmailTwice)
                            {
                                <div class="col-md-6">
                                    <label asp-for="ConfirmEmail" style="display:block;" asp-postfix=":"></label>
                                    <input asp-for="ConfirmEmail" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmEmail"></span>
                                </div>
                            }
                        </div>
                    </div>

                    <br />
                    <div class="container" style="padding:0 10em; margin-left:7em;">
                        <div class="row">
                            @if (Model.PhoneEnabled)
                            {
                                <div class="col-md-6">
                                    <label asp-for="Phone" style="display:block;" asp-postfix=":"></label>
                                    <input asp-for="Phone" />
                                    @if (Model.PhoneRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="Phone"></span>
                                </div>
                            }
                            <div class="col-md-6">
                                <label asp-for="Password" style="display:block;" asp-postfix=":"></label>
                                <input asp-for="Password" />
                                <nop-required />
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="container" style="padding:0 10em; margin-left:7em;">
                        <div class="row">
                            @if (Model.CompanyEnabled)
                            {
                                @if (Model.CompanyEnabled)
                                {
                                    <div class="col-md-6">
                                        <label asp-for="Company" style="display:block;" asp-postfix=":"></label>
                                        <input asp-for="Company" />
                                        @if (Model.CompanyRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="Company"></span>
                                    </div>
                                }
                                <div class="col-md-6">
                                    <label asp-for="ConfirmPassword" style="display:block;" asp-postfix=":"></label>
                                    <input asp-for="ConfirmPassword" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                            }

                        </div>
                    </div>

                    <br />
                    <div class="container" style="padding:0 10em; margin-left:7em;">
                        <div class="row">
                            @if (Model.FirstNameEnabled)
                            {
                                <div class="col-md-6">
                                    <label asp-for="FirstName" style="display:block;" asp-postfix=":"></label>
                                    <input asp-for="FirstName" />
                                    @if (Model.FirstNameRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="FirstName"></span>
                                </div>
                            }
                            @if (Model.LastNameEnabled)
                            {
                                <div class="col-md-6">
                                    <label asp-for="LastName" style="display:block;" asp-postfix=":"></label>
                                    <input asp-for="LastName" />
                                    @if (Model.LastNameRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="LastName"></span>
                                </div>
                            }
                        </div>
                    </div>

                    <br />
                    <div class="container" style="padding:0 10em; margin-left:7em;">
                        <div class="row">
                            @if (Model.FirstNameEnabled)
                            {
                                <div class="col-md-6">
                                    <label asp-for="FirstName" style="display:block;" asp-postfix=":"></label>
                                    <input asp-for="FirstName" />
                                    @if (Model.FirstNameRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="FirstName"></span>
                                </div>
                            }
                            @if (Model.LastNameEnabled)
                            {
                                <div class="col-md-6">
                                    <label asp-for="LastName" style="display:block;" asp-postfix=":"></label>
                                    <input asp-for="LastName" />
                                    @if (Model.LastNameRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="LastName"></span>
                                </div>
                            }
                        </div>
                    </div>


                </div>
            </div>



            @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
            {
                <div class="form-fields">
                    @if (Model.NewsletterEnabled)
                    {
                        <div class="inputs">
                            <label asp-for="Newsletter" asp-postfix=":"></label>
                            <input asp-for="Newsletter" />
                            <span asp-validation-for="Newsletter"></span>
                        </div>
                    }
                    @if (Model.CustomerAttributes.Count > 0)
                    {
                        @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                    }
                </div>
            }


            @if (Model.AcceptPrivacyPolicyEnabled || Model.GdprConsents.Count > 0)
            {
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Account.UserAgreement")</strong>
                    </div>
                    <div class="form-fields">
                        @if (Model.AcceptPrivacyPolicyEnabled)
                        {
                            <script asp-location="Footer">
                                $(document).ready(function() {
                                    $('#register-button').on('click', function() {
                                        if ($('#accept-consent').is(':checked')) {
                                            //do some stuff
                                            return true;
                                        } else {
                                            //just show validation errors, don't post
                                            alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                            return false;
                                        }
                                    });
                                });
                            </script>
                            <div class="inputs accept-consent">
                                <input id="accept-consent" type="checkbox" name="accept-consent" />
                                <label for="accept-consent">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                                @if (Model.AcceptPrivacyPolicyPopup)
                                {
                                    <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                                    <script asp-location="Footer">
                                    $(document).ready(function() {
                                        $('#read-privacyinfo').on('click',
                                            function(e) {
                                                displayPopupContentFromUrl(
                                                    '@Url.RouteUrl("TopicPopup", new {SystemName = "privacyinfo"})',
                                                    '@T("Account.Fields.AcceptPrivacyPolicy")');
                                            });
                                    });
                                    </script>
                                }
                                else
                                {
                                    @*<a class="read" id="read-privacyinfo" href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("privacyinfo") })">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>*@
                                }
                            </div>
                        }
                    </div>
                </div>
            }
            <div class="buttons">
                <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
            </div>
        </form>
    </div>
</div>