@using NSS.Plugin.Misc.SwiftPortalOverride.Models
@model TransactionModel
@using Nop.Web.Framework.Themes
@inject IThemeContext themeContext
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts("Home");
    //page class
    Html.AppendPageCssClassParts("html-home-page");
}

@{
    var themeName = themeContext.WorkingThemeName;
}


<div class="page home-page">
    <div class="page-body">
        <div>
            <div class="row">
                <div class="col-md-9">

                    <ul class="nav nav-pills mb-1 " id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation" style="margin-right: 0.3em">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Recent Orders</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Recent Invoices</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="responsive-table-container tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <table class="table table-striped w3-animate-left nss-table">
                                <thead class="thead-default">
                                    <tr>
                                        <td scope="col">Order #</td>
                                        <td scope="col">Tot. Weight (lb)</td>
                                        <td scope="col">Order Amt.</td>
                                        <td scope="col">PO #</td>
                                        <td scope="col">Est. Delivery</td>
                                        <td scope="col">Status</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.RecentOrders != null)
                                    {
                                        foreach (Order order in Model.RecentOrders)
                                        {
                                            <tr>
                                                <td><a href="/orders/@order.OrderId" scope="row">@order.OrderId</a></td>
                                                <td>@(string.Format("{0:N2}", order.Weight))</td>
                                                <td>$@(string.Format("{0:N2}", order.OrderTotal))</td>
                                                <td>@order.PONo</td>
                                                <td>@order.EstDeliveryDate.ToString("MM/dd/yyyy")</td>
                                                <td>@order.OrderStatusName</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="underline" scope="row">No Recent Order</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="responsive-table-container tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <table class="table table-striped w3-animate-left nss-table">
                                <thead class="thead-default">
                                    <tr>
                                        <td scope="col">Invoice #</td>
                                        <td scope="col">Order #</td>
                                        <td scope="col">Invoice Amt.</td>
                                        <td scope="col">Invoice Date</td>
                                        <td scope="col">Due Date</td>
                                        <td scope="col">Status</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.RecentInvoices != null)
                                    {
                                        foreach (Invoice invoice in Model.RecentInvoices)
                                        {
                                    <tr>
                                        <th scope="row">@invoice.InvoiceId</th>
                                        <td><a href="/orders/@invoice.OrderNo" scope="row">@invoice.OrderNo</a></td>
                                        <td>$@(string.Format("{0:N2}", invoice.InvoiceAmount))</td>
                                        <td>@invoice.InvoiceDate.ToString("MM/dd/yyyy")</td>
                                        <td>@invoice.InvoiceDueDate.ToString("MM/dd/yyyy")</td>
                                        @if (@invoice.InvoiceStatusName.IndexOf("Past") > -1)
                                        {
                                            <td style="color: red;">@invoice.InvoiceStatusName</td>
                                        }
                                        else
                                        {
                                            <td>@invoice.InvoiceStatusName</td>
                                        }
                                    </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="underline" scope="row">No Recent Invoice</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 contact-block">
                    @if (Model.CompanyInfo != null)
                    {
                        <div class="card">
                            <div class="card-body text-center contact-card">
                                <div class="avatar-block">
                                    <div></div>
                                    <img class="avatar rounded-circle" src="~/Themes/@(themeName)/Content/assets/headset.svg" alt="profile-default">
                                </div>
                                <h6 class=card-title>Outstanding customer service is our promise</h6>
                                <p class=card-text>I'm here to provide you with exceptional customer service.</p>
                                <h6 class="card-subtitle mb-2 text-muted">Business Hours</h6>

                                @*<h6 class="card-title">@Model.CompanyInfo.SalesContact?.Name</h6>*@
                                <div class="contact-container">
                                    <a href=tel:@Model.CompanyInfo.SalesContact?.Phone class="btn contact-btn">
                                        <img src="~/Themes/@(themeName)/Content/assets/phone.svg" alt="">
                                    </a>
                                    <a href=mailto:@Model.CompanyInfo.SalesContact?.Email class="btn contact-btn">
                                        <img src="~/Themes/@(themeName)/Content/assets/mail.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="discount-block" alt="">
                <img src="~/Themes/@(themeName)/Content/assets/discount.PNG" alt="">
                <div class="action">
                    <button class="white-btn">
                        <img src="~/Themes/@(themeName)/Content/assets/menu.svg" height="20"
                             width="20" alt=""> SHOP SWIFT&#8482;
                    </button>
                </div>
            </div>
        </div>



    </div>
</div>
