@using NSS.Plugin.Misc.SwiftPortalOverride.Models
@model TransactionModel

@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
    Html.AddCssFileParts("~/Plugins/Misc.SwiftPortalOverride/Content/homepageStyle.css");
}

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@


<div class="page home-page">
    <div class="page-body">
        <div class="container">
            <div class="row">
                <div class="col-md-9">

                    <ul class="nav nav-pills mb-1 " id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation" style="margin-right: 0.3em">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Recent Orders</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Recent Invoices</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-default">
                                    <tr>
                                        <td scope="col">Order #</td>
                                        <td scope="col">Tot. Weight (lb)</td>
                                        <td scope="col">Order Amt.</td>
                                        <td scope="col">PO #</td>
                                        <td scope="col">Est. Delivery</td>
                                        <td scope="col">Status</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.RecentOrders != null)
                                    {
                                        foreach (Order order in Model.RecentOrders)
                                        {
                                            <tr>
                                                <th class="underline" scope="row">@order.OrderId</th>
                                                <td>@(string.Format("{0:N2}", order.Weight))</td>
                                                <td>$@(string.Format("{0:N2}", order.OrderTotal))</td>
                                                <td>@order.PONo</td>
                                                <td>@order.EstDeliveryDate.ToString("MM/dd/yyyy")</td>
                                                <td>@order.OrderStatusName</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="underline" scope="row">No Recent Order</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-default">
                                    <tr>
                                        <td scope="col">Invoice #</td>
                                        <td scope="col">Order #</td>
                                        <td scope="col">Invoice Amt.</td>
                                        <td scope="col">Invoice Date</td>
                                        <td scope="col">Due Date</td>
                                        <td scope="col">Status</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.RecentInvoices != null)
                                    {
                                        foreach (Invoice invoice in Model.RecentInvoices)
                                        {
                                            <tr>
                                                <th class="underline" scope="row">@invoice.InvoiceId</th>
                                                <td>@invoice.OrderNo</td>
                                                <td>$@(string.Format("{0:N2}", invoice.InvoiceAmount))</td>
                                                <td>@invoice.InvoiceDate.ToString("MM/dd/yyyy")</td>
                                                <td>@invoice.InvoiceDueDate.ToString("MM/dd/yyyy")</td>
                                                @if (@invoice.InvoiceStatusName.IndexOf("Past") > -1)
                                                {
                                                    <td style="color: red;">@invoice.InvoiceStatusName</td>
                                                }
                                                else
                                                {
                                                    <td>@invoice.InvoiceStatusName</td>
                                                }
                                            </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="underline" scope="row">No Recent Invoice</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    @if (Model.CompanyInfo != null)
                    {
                        <div class="card">
                            @*<img class="card-img-top" alt="profile">*@
                            <div class="card-body text-center">
                                <img class="avatar rounded-circle" src="Themes/DefaultClean/Content/images/profile.png" alt="profile-default">
                                <h6 class="card-title">@Model.CompanyInfo.SalesContact?.Name</h6>
                                <p class="card-text">Got questions? I can help, message or call anytime... </p>
                                <h6 class="card-subtitle mb-2 text-muted">Business Hours </h6>
                                <div class="contact-container">
                                    <a href=tel:@Model.CompanyInfo.SalesContact?.Phone class="btn contact-btn">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
                                        </svg>
                                    </a>
                                    <a href=mailto:@Model.CompanyInfo.SalesContact?.Email class="btn contact-btn">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>



    </div>
</div>
