@using Nop.Core
@using NSS.Plugin.Misc.SwiftPortalOverride.Models
@using NSS.Plugin.Misc.SwiftPortalOverride
@using Nop.Services.Common
@using Nop.Services.Catalog
@using Nop.Core.Domain.Catalog
@inject IWorkContext workContext
@inject IGenericAttributeService genericAttributeService
@inject IProductAttributeService productAttributeService
@using Syncfusion.EJ2

@model CatalogModel
@using Nop.Core.Domain.Orders
@using NSS.Plugin.Misc.SwiftPortalOverride.Controllers;

<style>

    .e-dlg-header-content {
        background: #03175B;
    }

        .e-dlg-header-content .e-icon-dlg-close {
            color: #FFF;
        }

        .e-dlg-header-content .dialog-header {
            color: #FFF;
            font-weight: 700;
        }

    .nss-modal-title {
        color: #03175B;
        font-size: 0.85rem;
        font-weight: 500;
    }

    .e-radio-wrapper {
        margin-right: 1.5rem;
    }

    li {
        list-style: none;
    }

    .nss-radio {
        width: 18px;
        height: 18px;
    }

        .nss-radio:checked + .e-primary::after { /* csslint allow: adjoining-classes */
            background-color: #0076B4;
            border-color: #0076B4;
        }

        .nss-radio:checked:focus + .e-primary::after, .nss-radio:checked + .e-primary:hover::after { /* csslint allow: adjoining-classes */
            background-color: #0076B4;
            border-color: #0076B4;
        }

        .nss-radio:checked + .e-primary::before {
            border-color: #0076B4;
        }

        .nss-radio:checked:focus + .e-success::before, .e-radio:checked + .e-primary:hover::before { /* csslint allow: adjoining-classes */
            border-color: #0076B4;
        }

        .nss-radio + .e-primary:hover::before {
            border-color: #0076B4;
        }

    .nss-textarea {
        border: 1px solid grey;
        resize: none;
        font-size: 16px;
    }

        .nss-textarea::-webkit-input-placeholder {
            font-style: italic;
        }

        .nss-textarea:-moz-placeholder { /* Firefox 18- */
            font-style: italic;
        }

        .nss-textarea::-moz-placeholder { /* Firefox 19+ */
            font-style: italic;
        }

        .nss-textarea:-ms-input-placeholder {
            font-style: italic;
        }

        .nss-textarea::placeholder {
            font-style: italic;
        }

    .nss-btn-box {
        border: 0.1px solid #ddd;
        outline: none;
        background: none;
        font-size: 16px;
        color: #000;
        width: 42px;
        height: 42px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .nss-input {
        padding: 0.5rem;
        border: 1px solid #ddd;
        outline: none;
        background: none;
        font-size: 16px;
        color: #000;
        height: auto !important;
        text-align: center;
        width: 90px;
        margin: 0px 0.5rem;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

        /* Chrome, Safari, Edge, Opera */
        .nss-input::-webkit-outer-spin-button,
        .nss-input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        .nss-input[type=number] {
            -moz-appearance: textfield;
        }

    .nss-btn-default {
        border: none;
        outline: none;
        background: #ECECEC;
        color: #000;
        font-size: 16px;
        line-height: 1;
    }

        .nss-btn-default:hover {
            background: #0076B4;
            color: #FFF;
        }

    .e-footer-content {
        padding: 2rem;
    }

    .cursor-pointer {
        cursor: pointer;
    }
</style>
@{
    //prepare "Add to cart" AJAX link
    @Html.Hidden("selectedProductId", 0);
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var wishListShoppingCartId = (int)ShoppingCartType.Wishlist;
    var quantity = 1;
    int customerId = workContext.CurrentCustomer.Id;
    string ERPComId = SwiftPortalOverrideDefaults.ERPCompanyId;
    ERPComId += customerId;
    var headerColumns = new List<NSS.Plugin.Misc.SwiftCore.Domain.Shapes.ShapeAttribute>();
    var ERPCompanyIdExist = Context.Request.Cookies.Any(x => x.Key == ERPComId);
}

@{List<object> ObjectData = new List<object>(); }




@{

    Func<object, object>
    Content1 =
    @<form id="sawOptionModal">
        <div class="d-flex flex-column">
            <div class="d-flex flex-column mt-4 mb-2">
                <label class="nss-modal-title">SAW OPTIONS</label>
                <div class="d-flex flex-row">
                    <label v-for="option in sawOptions" v-bind:for="sawOptionControlId + '_' + option.id"
                           class="mr-3 d-flex align-items-center cursor-pointer">
                        <input v-bind:id="sawOptionControlId + '_' + option.id" type="radio" class="nss-radio mr-2 cursor-pointer"
                               v-bind:value="option.id" v-model="sawOption">
                        {{ option.name }}
                    </label>
                </div>
            </div>
            <hr />
            <div class="d-flex flex-column">
                <label class="nss-modal-title">WORK ORDER INSTRUCTIONS</label>
                <textarea name="workOrderInstructionsId" rows="4" maxlength="100" class="nss-textarea" placeholder="Max 100 characters" v-model="workOrderInstructions"></textarea>
            </div>
            <hr />
            <div class="d-flex flex-row justify-content-between mb-3">
                <div class="d-flex flex-column">
                    <label class="nss-modal-title">LENGTH TOLERANCE CUT</label>
                    <div class="d-flex flex-row">
                        <button type="button" class="nss-btn-box"
                                v-on:click="decrementToleranceCut">
                            -
                        </button>
                        <input type="text" class="nss-input" v-model="lengthToleranceCut" />
                        <button type="button" class="nss-btn-box"
                                v-on:click="incrementToleranceCut">
                            +
                        </button>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <label class="nss-modal-title">ITEM QUANTITY</label>
                    <div class="d-flex flex-row">
                        <button type="button" class="nss-btn-box" v-on:click="decrementQuantity">-</button>
                        <input id="itemQuantity" type="number" class="nss-input" v-model="quantity" />
                        <button type="button" class="nss-btn-box" v-on:click="incrementQuantity">+</button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse mt-4">
                <button type="button" v-bind:id="'add-to-cart-button-' + productId" class="nss-btn-default px-2 py-2"
                        v-on:click="addToCart">
                    ADD TO CART
                </button>
            </div>
        </div>
    </form>;
}

@if (Model.Products != null && Model.Products.Count > 0)
{

    var shapeIds = Model.FilterParams.ShapeIds;
    var isPlateIndividual = shapeIds.FirstOrDefault(x => x == 13);
    bool _isPlateIndividual = false;
    if (isPlateIndividual > 0)
        _isPlateIndividual = true;

    if (shapeIds.Count > 0)
    {
        headerColumns = Model.Products.FirstOrDefault().Shape?.Atttributes.ToList();
    }
    else
    {
        headerColumns = new List<NSS.Plugin.Misc.SwiftCore.Domain.Shapes.ShapeAttribute>()
{
new NSS.Plugin.Misc.SwiftCore.Domain.Shapes.ShapeAttribute
{
Code = "itemNo",
DisplayName = "Item #",
Sort = "itemNo"
},
new NSS.Plugin.Misc.SwiftCore.Domain.Shapes.ShapeAttribute
{
Code = "itemName",
DisplayName = "Description",
Sort = "itemName"
},
new NSS.Plugin.Misc.SwiftCore.Domain.Shapes.ShapeAttribute
{
Code = "displayHeight",
DisplayName = "Height (in)",
Sort = "height"
},
new NSS.Plugin.Misc.SwiftCore.Domain.Shapes.ShapeAttribute
{
Code = "displayLength",
DisplayName = "Length (ft)",
Sort = "length"
},
new NSS.Plugin.Misc.SwiftCore.Domain.Shapes.ShapeAttribute
{
Code = "weight",
DisplayName = "Weight (lb)",
Sort = "weight"
}
};

    }


    @foreach (var item in Model.Products)
    {
        var productRowData = new Dictionary<string, string>();
        var attr = genericAttributeService.GetAttributesForEntity(item.Id, nameof(Product));
        string serialized = attr.FirstOrDefault(x => x.Key == "serialized")?.Value;

        var mappings = productAttributeService.GetProductAttributeMappingsByProductId(item.Id);

        var mappingIds = mappings.Select(x => x.Id).ToArray();

        var attrIds = mappings.Select(x => x.ProductAttributeId)?.ToArray();
        var attrs = productAttributeService.GetProductAttributeByIds(attrIds);
        var _productAttributes = GetJson(attrs);
        // x attribute
        var prodAttrs = new List<SawOptionsAttribute>();


        foreach (var it in attrs)
        {
            var xMapping = mappings.FirstOrDefault(x => x.ProductAttributeId == it.Id);
            var xValues = productAttributeService.GetProductAttributeValues(xMapping.Id);
            var obj = new SawOptionsAttribute
            {
                Name = it.Name,
                Values = xValues,
                Id = xMapping.Id,
            };

            prodAttrs.Add(obj);
        }

        @foreach (var it in headerColumns)
        {
            var itemCode = it.Code;
            var Code = serialized == "True" ? "itemTagNo" : "itemNo";
            itemCode = itemCode == "itemNo" ? Code : itemCode;
            productRowData.Add(it.DisplayName, item.ProductCustomAttributes.FirstOrDefault(x => x.Key == itemCode)?.Value);
            // productRowData.Add(it.Sort, item.ProductCustomAttributes.FirstOrDefault(x => x.Key == it.Sort)?.Value);
            //if ((it.Code).Contains("display"))
            //{

            //}
        }

        productRowData.Add("_itemId", item.Id.ToString());
        productRowData.Add("_mtr", item.ProductCustomAttributes.FirstOrDefault(x => x.Key == "mtr")?.Value);
        productRowData.Add("_sawOption", item.Shape?.SawOption.ToString());
        productRowData.Add("_cartId", shoppingCartTypeId.ToString());
        productRowData.Add("_eRPCompanyIdExist", ERPCompanyIdExist.ToString());
        productRowData.Add("_wishListId", wishListShoppingCartId.ToString());
        productRowData.Add("_isPlateIndividual", _isPlateIndividual.ToString());
        productRowData.Add("_productAttributes", GetJson(prodAttrs));
        productRowData.Add("_product", "");

        ObjectData.Add(productRowData);
    }
}


<div id="_partialview">
    <div class="control-section">
        <div class="control-section">

            <ejs-grid id="GridOverview" allowFiltering="true" allowSorting="true" allowPaging="true" allowResizing="true" rowHeight="38" enableHover="false" dataSource=ObjectData>
                <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
                <e-grid-pagesettings pageSize="100"></e-grid-pagesettings>
                <e-grid-columns>
                    @foreach (var it in headerColumns)
                    {
                        if (!it.DisplayName.StartsWith("_"))
                        {
                            @*@if ((it.Code).Contains("display"))
                                {
                                    <e-grid-column field=@it.DisplayName foreignKeyField=@it.DisplayName foreignKeyValue=@it.Sort dataSource="ObjectData"
                                                   filter="@(new { type="CheckBox"})" headerText=@it.DisplayName width="150"></e-grid-column>
                                }*@
                            @if ((it.DisplayName).Contains("Description"))
                            {
                                <e-grid-column field=@it.DisplayName filter="@(new { type = "CheckBox" })" headerText=@it.DisplayName width="230"></e-grid-column>
                            }
                            else
                            {
                                <e-grid-column field=@it.DisplayName filter="@(new { type = "CheckBox" })" headerText=@it.DisplayName width="150"></e-grid-column>
                            }
                        }
                    }
                    <e-grid-column field="Quantity" headerText="Qty" allowFiltering="false" allowSorting="false" template="#quantityTemplate" width="82"></e-grid-column>
                    <e-grid-column field="Options" headerText="" allowFiltering="false" allowSorting="false" template="#optionsTemplate" width="130"></e-grid-column>

                </e-grid-columns>
            </ejs-grid>

            @Html.EJS().Dialog("dialog").Visible(false).IsModal(true).Created("onDialogCreated").Header("<span class='dialog-header'>SAW OPTIONS FOR PRODUCT</span>").ContentTemplate(
@Content1).ShowCloseIcon(true).Visible(false).Width("650px").Target("body").Render()

        </div>
    </div>
</div>


<script id="quantityTemplate" type="text/x-template">
    ${if(_isPlateIndividual == "True")}
    <label style="width: 40px" for="">1</label>
    ${else}
    <input type="number" min="1" name="quantity" style="width: 40px" id="qty${_itemId}" oninput="this.value = !!this.value && Math.abs(this.value)>= 0 ? Math.abs(this.value) : null">
    ${/if}
</script>

<script id="optionsTemplate" type="text/x-template">
    ${if(_mtr)}
    <a class="table-action-button" style="text-decoration:none" href="${_mtr}" target="_blank">
        <img src="Themes/SwiftPortal/Content/assets/invoice.svg" width="20" height="20" alt="">
    </a>
    ${/if}

    ${if(_sawOption == "True")}
    <button class="table-action-button"
            onclick="handleSawOption(`${_itemId}`, `${_productAttributes}`, `${_product}`); return false;">
        <img src="Themes/SwiftPortal/Content/assets/saw-blade.svg" width="20" height="20" alt="">
    </button>
    ${/if}
    ${if(_eRPCompanyIdExist == "True")}
    <button class="table-action-button" onclick="getInputQuantity(`${_itemId}`, `${_cartId}`);return false;">
        <img src="Themes/SwiftPortal/Content/assets/shopping-cart.svg" width="20" height="20" alt="">
    </button>
    ${/if}
    <button class="table-action-button" onclick="getInputQuantity(`${_itemId}`, `${_wishListId}`);return false;">
        <img src="Themes/SwiftPortal/Content/assets/heart.svg" width="20" height="20" alt="">
    </button>
</script>

<script>

    var modalVm = new Vue({
        el: '#sawOptionModal',
        data: {
            sawOptionControlId: null,
            sawOptions: [],
            sawOption: null,
            workOrderInstructions: null,
            workOrderInstructionsId: null,
            lengthToleranceCut: null,
            lengthToleranceCutControlId: null,
            quantity: 0,
            quantityId: 0,
            productId: null,
        },
        mounted: function () {

        },
        methods: {
            addToCart: function () {
                let request = {
                    [this.sawOptionControlId]: this.sawOption,
                    [this.workOrderInstructionsId]: this.workOrderInstructions,
                    [this.lengthToleranceCutControlId]: this.lengthToleranceCut,
                    [`addtocart_${this.productId}.EnteredQuantity`]: this.quantity,
                };
                sawOptionModal.hide();
                AjaxCart.setLoadWaiting(true);
                $.ajax({
                    cache: false,
                    url: `/addproducttocart/details/${this.productId}/@Html.Raw((int)ShoppingCartType.ShoppingCart)`,
                    type: 'POST',
                    data: request,
                    success: function (data, textStatus, XMLHttpRequest) {
                        AjaxCart.setLoadWaiting(false);
                        if (data != null) {
                            AjaxCart.success_process(data);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        AjaxCart.setLoadWaiting(false);
                        console.log(thrownError, 'addToCart datadata-error', xhr);
                    }
                });
            },

            incrementToleranceCut: function () {
                this.lengthToleranceCut = Number(this.lengthToleranceCut) + 1;
            },
            decrementToleranceCut: function () {
                this.lengthToleranceCut = this.lengthToleranceCut > 0 ? Number(this.lengthToleranceCut) - 1 : 0;
            },

            incrementQuantity: function () {
                this.quantity = Number(this.quantity) + 1;
            },
            decrementQuantity: function () {
                this.quantity = this.quantity > 1 ? Number(this.quantity) - 1 : 1;
            },
        },
    });

    function getInputQuantity(itemId, cartId) {
        event.preventDefault();
        let qty = $('#qty' + itemId).val();
        if (!qty)
            qty = 1;
        let link = `/CartOverride/CustomAddProductToCart_Catalog?productId=${itemId}&shoppingCartTypeId=${cartId}&quantity=${qty}`
        $('#qty' + itemId).val("");
        AjaxCart.addproducttocart_catalog(link);
    }

    var sawOptionModal, toleranceLength;
    let itemQuantity = document.getElementById('itemQuantity');
    function onDialogCreated() {
        sawOptionModal = this;
    }

    function handleSawOption(productId, attributes) {
        const at = JSON.parse(attributes);
        const cutOptions = at.find(x => x.name === "Cut Options");
        const prefix = '@Html.Raw(NopCatalogDefaults.ProductAttributePrefix)';
        console.log("handleSawOption: ", at);
        modalVm.quantity = 1;
        modalVm.productId = productId;
        modalVm.sawOptionControlId = prefix + cutOptions.id;
        modalVm.sawOptions = cutOptions.values;
        modalVm.sawOption = cutOptions.values.find(x => x.isPreSelected).id;
        modalVm.workOrderInstructions = null;
        modalVm.workOrderInstructionsId = prefix + at.find(x => x.name === "Work Order Instructions").id;
        modalVm.lengthToleranceCutControlId = prefix + at.find(x => x.name === "Length Tolerance Cut").id;
        modalVm.lengthToleranceCut = 0;
        sawOptionModal.show();
    }

    function onSawOptionModalClose() {
        console.log("onSawOptionModalClose...");
    }
</script>
<ejs-scripts></ejs-scripts>

@functions {
    String GetJson(object input)
    {
        @using Newtonsoft.Json.Serialization;
        @using Newtonsoft.Json;

        var contractResolver = new DefaultContractResolver { NamingStrategy = new CamelCaseNamingStrategy() };
        return JsonConvert.SerializeObject(input, new JsonSerializerSettings
        {
            ContractResolver = contractResolver,
            Formatting = Formatting.None
        });
    }
}
