@using Nop.Web.Models.Customer
@using Nop.Web.Framework.Themes
@inject IThemeContext themeContext
@model CustomerAddressListModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomCustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Addresses })
}

@{
    var themeName = themeContext.WorkingThemeName;
}

<style>
    /*.popup {
        position: relative;
    }

    .popup-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .popup-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .popup-content a:hover {
                background-color: #ddd;
            }

    .popup:hover .popup-content {
        display: block;
    }*/

    .action-btn {
        background-color: #f6f6f6 !important;
    }
</style>
<div class="page account-page address-list-page">
    <div class="page-body">
        <nop-antiforgery-token />
        @if (Model.Addresses.Count > 0)
        {
            <div class=account-page-card>
                <div class="title"><strong>ADDRESSES</strong></div>
                <div class="address-block">
                    @for (var i = 0; i < Model.Addresses.Count; i++)
                    {
                        var count = i + 1;
                        var address = Model.Addresses[i];
                        <div class="address-info">
                            <ul>
                                @*<button><img src="~/Themes/@themeName/Content/assets/icn-more-vert.svg" alt=""></button>*@
                                <li class="title">ADDRESS @count</li>
                                <li class="name">@address.FirstName @address.LastName</li>
                                @if (address.CompanyEnabled && !string.IsNullOrEmpty(address.Company))
                                {
                                    <li class="company">@address.Company</li>
                                }
                                @if (address.StreetAddressEnabled)
                                {
                                    <li class="address1">
                                        @address.Address1
                                    </li>
                                }

                                @if (!string.IsNullOrEmpty(address.City) || !string.IsNullOrEmpty(address.StateProvinceName) || !string.IsNullOrEmpty(address.ZipPostalCode))
                                {
                                    <li class="city-state-zip">@address.City, @address.StateProvinceName, @address.ZipPostalCode</li>
                                }
                                @*@if (address.CityEnabled && !string.IsNullOrEmpty(address.City) ||
                                    address.CountyEnabled && !string.IsNullOrEmpty(address.County) ||
                                    address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName) ||
                                    address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
                                            {
                                                <li class="city-state-zip">@address.City, @address.StateProvinceName, @address.ZipPostalCode</li>
                                            }*@
                            </ul>
                            <div class="buttons">
                                <input type="button" class="button-2 edit-address-button action-btn" style="background-color:#f6f6f6 !important; padding: 1px 9px !important" onclick="location.href = '@(Url.RouteUrl("CustomerAddressEdit", new {addressId = address.Id}))'" value="" />
                                <input type="button" class="button-2 delete-address-button action-btn" style="background-color:#f6f6f6 !important; padding: 1px 9px !important" onclick="deletecustomeraddress(@(address.Id))" value="" />
                            </div>
                        </div>
                    }
                    <a onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" class="address-info">
                        <ul>
                            <img src="~/Themes/@themeName/Content/assets/icn-add.svg" alt="" />
                            <li class="title">NEW ADDRESS</li>
                        </ul>
                    </a>
                </div>
            </div>

            <script asp-location="Footer">
                    function deletecustomeraddress(addressId) {
                        if (confirm('@T("Common.AreYouSure")')) {
                            var postData = {
                                addressId: addressId
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@Url.Action("AddressDelete", "Customer")",
                                data: postData,
                                dataType: "json",
                                success: function (data, textStatus, jqXHR) {
                                    location.href = data.redirect;
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert('Failed to delete');
                                }
                            });
                        }
                    }
            </script>
        }
        else
        {
            <div class="account-page-card">
                <div class="address-block">
                    <a onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" class="address-info">
                        <ul>
                            <img src="~/Themes/@themeName/Content/assets/icn-add.svg" alt="" />
                            <li class="title">NEW ADDRESS</li>
                        </ul>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
