@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Web.Models.ShoppingCart
@using Nop.Web.Extensions
@using Nop.Services.Common
@using Nop.Core.Domain.Catalog
@using Nop.Web.Factories
@using Nop.Services.Catalog
@using Nop.Web.Models.Catalog
@using Nop.Services.Localization
@using Nop.Core.Domain
@using Nop.Services.Orders
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject OrderSettings orderSettings
@inject IGenericAttributeService genericAttributeService
@inject IProductModelFactory productModelFactory
@inject IProductAttributeParser productAttributeParser
@inject IProductAttributeService productAttributeService
@inject ILocalizationService localizationService
@inject IProductService productService
@inject IShoppingCartService shoppingCartService
@inject IWorkContext workContext

@{
    var customer = workContext.CurrentCustomer;
    var cartItems = shoppingCartService.GetShoppingCart(customer, ShoppingCartType.ShoppingCart);

    var purchasechkattr = Model.CheckoutAttributes.FirstOrDefault(x => x.Name == "Purchase Order #");
    var deliverychkattr = Model.CheckoutAttributes.FirstOrDefault(x => x.Name == "Delivery Option");
}

<div class="order-summary-content">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentBefore })
    @await Html.PartialAsync("_OrderReviewData", Model.OrderReviewData)
    @if (Model.Items.Count > 0)
    {
        if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
        @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
        <form asp-route="ShoppingCart" method="post" enctype="multipart/form-data" id="shopping-cart-form">
            <div style="display: flex; margin: 20px 0; justify-content: space-between;" class="col-lg-5">
                <div class="filter-menu">
                    <label for="purchase-order">Purchase Order #</label>
                    @if (purchasechkattr != null)
                    {
                        var controlId = $"checkout_attribute_{purchasechkattr.Id}";
                        <input type="text" name="@(controlId)" id="@(controlId)" value="@(purchasechkattr.DefaultValue)" placeholder="ENTER..." />
                    }
                    else
                    {
                        <input type="text" name="purchase-order" id="purchase-order" placeholder="ENTER...">
                    }

                </div>
                <div class="filter-menu">
                    <label for="estimated-date">Delivery Date</label>
                    <input type="text" name="estimated-date" id="estimated-date" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="TBD" disabled>
                </div>
            </div>
            <div class="table-wrapper">
                <table class="table table-bordered cart-table">
                    <thead>
                        <tr>
                            <th scope="col">Item #</th>
                            <th scope="col">Description</th>
                            <th scope="col">Customer Part #</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Length</th>
                            <th scope="col">Order Qty</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            var product = productService.GetProductById(item.ProductId);
                            var attr = genericAttributeService.GetAttributesForEntity(item.ProductId, nameof(Product));

                            var itemTagNo = attr.FirstOrDefault(x => x.Key == "itemTagNo")?.Value;
                            var itemNo = attr.FirstOrDefault(x => x.Key == "itemNo")?.Value;
                            string serialized = attr.FirstOrDefault(x => x.Key == "serialized")?.Value;
                            var iNo = serialized == "True" ? itemTagNo : itemNo;
                            var pricePerFt = attr.FirstOrDefault(x => x.Key == "pricePerFt")?.Value;
                            var pricePerCWT = attr.FirstOrDefault(x => x.Key == "pricePerCWT")?.Value;
                            var pricePerPiece = attr.FirstOrDefault(x => x.Key == "pricePerPiece")?.Value;

                            // get attribute

                            var cartItem = cartItems.FirstOrDefault(x => x.Id == item.Id);
                            var attributes = PrepareProductAttributeModels(product, cartItem);

                            var custPartNoAttr = attributes.FirstOrDefault(x => x.Name == "Customer Part No");
                            var purchaseUnitAttr = attributes.FirstOrDefault(x => x.Name == "Purchase Unit");
                            string unitControlId = purchaseUnitAttr == null ? null : $"{NopCatalogDefaults.ProductAttributePrefix}{purchaseUnitAttr.Id}";

                            var unitPrice = "0.00";



                            <tr>
                                <td>@(iNo)</td>
                                <td>@item.ProductName</td>
                                <td>
                                    @if (custPartNoAttr != null)
                                    {
                                        var controlId = $"{NopCatalogDefaults.ProductAttributePrefix}{custPartNoAttr.Id}";
                                        <input style="width: 100px;height: 30px;" type="text" name="@(controlId)" id="@(controlId)" value="@(custPartNoAttr.DefaultValue)" />
                                    }
                                    else
                                    {
                                        <input style="width: 100px;height: 30px;" type="text" name="customer-part" id="">
                                    }

                                </td>
                                <td>
                                    @{unitPrice = !string.IsNullOrEmpty(pricePerPiece) ? pricePerPiece : !string.IsNullOrEmpty(pricePerCWT) ? pricePerCWT : !string.IsNullOrEmpty(pricePerFt) ? pricePerFt : unitPrice; }
                                    <input style="width: 100px;height: 30px;" disabled type="text" name="unit-price" id="itemunitprice@(item.Id)" value="$@(DoFormat(Convert.ToDouble(unitPrice)))">

                                    @if (purchaseUnitAttr != null)
                                    {
                                        var controlId = $"{NopCatalogDefaults.ProductAttributePrefix}{purchaseUnitAttr.Id}";
                                        <select name="@(controlId)" id="@(controlId)" style="height: 30px;" onchange="toggleUnitPrice(this, '@unitControlId', @item.Id, '@(pricePerCWT ?? "")', '@(pricePerPiece ?? "")', '@(pricePerFt ?? "")')">
                                            @foreach (var attributeValue in purchaseUnitAttr.Values)
                                            {
                                                if (attributeValue.Name == "EA" && string.IsNullOrEmpty(pricePerPiece) || attributeValue.Name == "CWT" && string.IsNullOrEmpty(pricePerCWT) || attributeValue.Name == "FT" && string.IsNullOrEmpty(pricePerFt))
                                                    continue;


                                                <option selected="@attributeValue.IsPreSelected" value="@attributeValue.Id">@attributeValue.Name</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <select name="itemunit@(item.Id)" id="itemunit@(item.Id)" style="height: 30px;" onchange="toggleUnitPrice(this, null, @item.Id, @pricePerCWT, @pricePerPiece, @pricePerFt)">
                                            @if (!string.IsNullOrEmpty(pricePerPiece))
                                            {
                                                <option value="EA">EA</option>
                                            }
                                            @if (!string.IsNullOrEmpty(pricePerCWT))
                                            {
                                                <option value="CWT">CWT</option>
                                            }
                                            @if (!string.IsNullOrEmpty(pricePerFt))
                                            {
                                                <option value="FT">FT</option>
                                            }
                                        </select>
                                    }


                                </td>
                                <td id="itemsubtotal@(item.Id)"> @item.SubTotal </td>
                                <td id="itemweight@(item.Id)">@(double.TryParse(attr.FirstOrDefault(x => x.Key == "weight")?.Value, out double weight) ? DoFormat(weight) : "0.00") </td>
                                <td id="itemlength@(item.Id)">@(double.TryParse(attr.FirstOrDefault(x => x.Key == "length")?.Value, out double length) ? DoFormat(length) : "0.00") </td>
                                <td>
                                    <input name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" type="number" min="1" value="@(item.Quantity)" style="width: 100px" aria-label="@T("ShoppingCart.Quantity")" onchange="calculateItemTotalPrice('@unitControlId', @item.Id)" />
                                    @*<input style="width: 100px" type="number" name="quantity" id="">*@
                                </td>
                                <td style="text-align:center">
                                    <a style="background: none; border: none;" href="#">
                                        <img src="Themes/SwiftPortal/Content/assets/invoice.svg" width="20" height="20" alt="">
                                    </a>
                                </td>
                                <td class="remove-from-cart" style="text-align:center">
                                    <input type="checkbox" name="removefromcart" id="removefromcart@(item.Id)" value="@(item.Id)" aria-label="@T("ShoppingCart.Remove")" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            @if (Model.IsEditable && Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
            {
                var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                //of course, you can modify appropriate locales to include VAT info there
                <div class="tax-shipping-info">
                    @T(inclTax ? "ShoppingCart.TaxShipping.InclTax" : "ShoppingCart.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </div>
            }
            <div class="cart-options">
                @if (Model.IsEditable)
                {
                    <div class="common-buttons">
                        @*<button class="no-backgroud-button" type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")"><img src="Themes/SwiftPortal/Content/assets/reload.svg" alt=""> Update Cart</button>
                            <button class="no-backgroud-button" type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")"><img src="Themes/SwiftPortal/Content/assets/return.svg" alt="">Continue Shopping</button>*@
                        <input type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" class="button-2 update-cart-button" />
                        <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" class="button-2 continue-shopping-button" />
                        @*@await Component.InvokeAsync("ShoppingCartEstimateShipping")*@
                    </div>
                }
                @*@if (Model.IsEditable)
                    {
                        @await Html.PartialAsync("_CheckoutAttributes", Model)
                    }*@
                @await Component.InvokeAsync("SelectedCheckoutAttributes")
            </div>
            <div class="cart-footer">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryCartFooter })
                @if (Model.IsEditable)
                {
                    <div class="cart-collaterals">
                        <div class="deals">
                            @await Html.PartialAsync("_DiscountBox", Model.DiscountBox)
                            @await Html.PartialAsync("_GiftCardBox", Model.GiftCardBox)


                            <div class="pickup-options">
                                @if (deliverychkattr != null)
                                {
                                    var controlId = $"checkout_attribute_{deliverychkattr.Id}";
                                    @foreach (var attributeValue in deliverychkattr.Values)
                                    {
                                        <div>
                                            <label for="@(controlId)_@(attributeValue.Id)" class="radio control-label">
                                                <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected">
                                                @attributeValue.Name
                                            </label>
                                        </div>
                                    }

                                }
                                else
                                {
                                    <div>
                                        <label for="pickup" class="radio control-label">
                                            <input type="radio" id="customer" name="ship" value="customer">
                                            Ship to Customer
                                        </label>
                                    </div>
                                    <div>
                                        <label for="pickup" class="radio control-label">
                                            <input type="radio" id="pickup" name="ship" value="pickup">
                                            Pickup from North Shore Steel
                                        </label>
                                    </div>
                                }

                            </div>
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentDeals })
                        </div>
                    </div>
                }
                <div class="totals">
                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryTotals })
                    @await Component.InvokeAsync("OrderTotals", new { isEditable = Model.IsEditable })
                    @if (Model.IsEditable)
                    {
                        if (!string.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                        {
                            <div class="min-amount-warning">
                                @Model.MinOrderSubtotalWarning
                            </div>
                        }
                    }
                    @if (Model.IsEditable)
                    {
                        if (Model.TermsOfServiceOnShoppingCartPage)
                        {
                            <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display: none;">
                                <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                            </div>
                            <div class="terms-of-service">
                                <input id="termsofservice" type="checkbox" name="termsofservice" />
                                <label for="termsofservice" style="display: contents">@T("Checkout.TermsOfService.IAccept")</label>
                                @if (Model.TermsOfServicePopup)
                                {
                                    <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
                                    <script asp-location="Footer">
                                        $(document).ready(function() {
                                            $('#read-terms').on('click',
                                                function(e) {
                                                    e.preventDefault();
                                                    displayPopupContentFromUrl(
                                                        '@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofuse" })',
                                                        '@T("Checkout.TermsOfService")');
                                                });
                                        });
                                    </script>
                                }
                                else
                                {
                                    <a class="read" id="read-terms" href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("conditionsofuse") })">@T("Checkout.TermsOfService.Read")</a>
                                }
                            </div>
                        }
                        <div class="checkout-buttons">
                            @if (string.IsNullOrEmpty(Model.MinOrderSubtotalWarning) && !Model.HideCheckoutButton)
                            {
                                <script asp-location="Footer">
                                    $(document).ready(function () {
                                        $('#checkout').on('click', function () {
                                            //terms of service
                                            var termOfServiceOk = true;
                                            if ($('#termsofservice').length > 0) {
                                                //terms of service element exists
                                                if (!$('#termsofservice').is(':checked')) {
                                                    $("#terms-of-service-warning-box").dialog();
                                                    termOfServiceOk = false;
                                                } else {
                                                    termOfServiceOk = true;
                                                }
                                            }
                                            return termOfServiceOk;
                                        });
                                    });
                                </script>
                                if (orderSettings.CheckoutDisabled)
                                {
                                    <div class="checkout-disabled">
                                        @T("Checkout.Disabled")
                                    </div>
                                }
                                else
                                {
                                    <button type="submit" id="checkout" name="checkout" value="checkout" class="button-1 checkout-button">
                                        @T("Checkout.Button")
                                    </button>
                                }
                            }
                        </div>
                        <div class="addon-buttons">
                            @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                            @foreach (var pm in Model.ButtonPaymentMethodViewComponentNames)
                            {
                                @await Component.InvokeAsync(pm)
                            }
                        </div>
                    }
                </div>
            </div>
            @if (Model.IsEditable)
            {
                @await Component.InvokeAsync("CrossSellProducts")
            }
        </form>
    }
    else
    {
        <div class="no-data">
            @T("ShoppingCart.CartIsEmpty")
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentAfter })
</div>

@functions{
    string DoFormat(double myNumber)
    {
        var s = string.Format("{0:0.00}", myNumber);

        return s;
    }

    IList<ProductDetailsModel.ProductAttributeModel> PrepareProductAttributeModels(Product product, ShoppingCartItem updatecartitem)
    {
        if (product == null)
            throw new ArgumentNullException(nameof(product));

        var model = new List<ProductDetailsModel.ProductAttributeModel>();

        var productAttributeMapping = productAttributeService.GetProductAttributeMappingsByProductId(product.Id);
        foreach (var attribute in productAttributeMapping)
        {
            var productAttrubute = productAttributeService.GetProductAttributeById(attribute.ProductAttributeId);

            var attributeModel = new ProductDetailsModel.ProductAttributeModel
            {
                Id = attribute.Id,
                ProductId = product.Id,
                ProductAttributeId = attribute.ProductAttributeId,
                Name = localizationService.GetLocalized(productAttrubute, x => x.Name),
                Description = localizationService.GetLocalized(productAttrubute, x => x.Description),
                TextPrompt = localizationService.GetLocalized(attribute, x => x.TextPrompt),
                IsRequired = attribute.IsRequired,
                AttributeControlType = attribute.AttributeControlType,
                DefaultValue = updatecartitem != null ? null : localizationService.GetLocalized(attribute, x => x.DefaultValue),
                HasCondition = !string.IsNullOrEmpty(attribute.ConditionAttributeXml)
            };


            if (attribute.ShouldHaveValues())
            {
                //values
                var attributeValues = productAttributeService.GetProductAttributeValues(attribute.Id);
                foreach (var attributeValue in attributeValues)
                {
                    var valueModel = new ProductDetailsModel.ProductAttributeValueModel
                    {
                        Id = attributeValue.Id,
                        Name = localizationService.GetLocalized(attributeValue, x => x.Name),
                        ColorSquaresRgb = attributeValue.ColorSquaresRgb, //used with "Color squares" attribute type
                        IsPreSelected = attributeValue.IsPreSelected,
                        CustomerEntersQty = attributeValue.CustomerEntersQty,
                        Quantity = attributeValue.Quantity
                    };
                    attributeModel.Values.Add(valueModel);
                }
            }

            //set already selected attributes (if we're going to update the existing shopping cart item)
            if (updatecartitem != null)
            {
                switch (attribute.AttributeControlType)
                {
                    case AttributeControlType.DropdownList:
                    case AttributeControlType.RadioList:
                    case AttributeControlType.Checkboxes:
                    case AttributeControlType.ColorSquares:
                    case AttributeControlType.ImageSquares:
                        {
                            if (!string.IsNullOrEmpty(updatecartitem.AttributesXml))
                            {
                                //clear default selection
                                foreach (var item in attributeModel.Values)
                                    item.IsPreSelected = false;

                                //select new values
                                var selectedValues = productAttributeParser.ParseProductAttributeValues(updatecartitem.AttributesXml);
                                foreach (var attributeValue in selectedValues)
                                    foreach (var item in attributeModel.Values)
                                        if (attributeValue.Id == item.Id)
                                        {
                                            item.IsPreSelected = true;

                                            //set customer entered quantity
                                            if (attributeValue.CustomerEntersQty)
                                                item.Quantity = attributeValue.Quantity;
                                        }
                            }
                        }

                        break;
                    case AttributeControlType.ReadonlyCheckboxes:
                        {
                            //values are already pre-set

                            //set customer entered quantity
                            if (!string.IsNullOrEmpty(updatecartitem.AttributesXml))
                            {
                                foreach (var attributeValue in productAttributeParser.ParseProductAttributeValues(updatecartitem.AttributesXml)
                                    .Where(value => value.CustomerEntersQty))
                                {
                                    var item = attributeModel.Values.FirstOrDefault(value => value.Id == attributeValue.Id);
                                    if (item != null)
                                        item.Quantity = attributeValue.Quantity;
                                }
                            }
                        }

                        break;
                    case AttributeControlType.TextBox:
                    case AttributeControlType.MultilineTextbox:
                        {
                            if (!string.IsNullOrEmpty(updatecartitem.AttributesXml))
                            {
                                var enteredText = productAttributeParser.ParseValues(updatecartitem.AttributesXml, attribute.Id);
                                if (enteredText.Any())
                                    attributeModel.DefaultValue = enteredText[0];
                            }
                        }

                        break;
                    default:
                        break;
                }
            }

            model.Add(attributeModel);
        }

        return model;
    }
}

<script>
    function calculateItemTotalPrice(attrId, itemId) {
        var qty = parseInt(document.getElementById('itemquantity' + itemId).value, 10);
        var itemUnit;
        if (attrId == null) {
            itemUnit = document.getElementById('itemunit' + itemId).value;
        }
        else {
            var el = document.getElementById(attrId);
            itemUnit = el.options[el.selectedIndex].text;
        }

        var unitPrice = parseFloat(document.getElementById('itemunitprice' + itemId).value.replace(/\$/g, ''));
        var length = parseFloat(document.getElementById('itemlength' + itemId).innerHTML);
        var weight = parseFloat(document.getElementById('itemweight' + itemId).innerHTML);
        var subtotal = document.getElementById('itemsubtotal' + itemId);
        var totalPrice = 0.00;

        switch (itemUnit) {
            case 'EA':
                totalPrice = qty * unitPrice;
                break;
            case 'FT':
                totalPrice = qty * unitPrice * length;
                break;
            case 'CWT':
                totalPrice = (weight / 100) * qty * unitPrice;
                break;

            default:
                break;
        }

        subtotal.innerHTML = `$${totalPrice.toFixed(2)}`;
    }

    function toggleUnitPrice(sel, attrId, itemId, weightPrice, piecePrice, ftPrice) {

        var itemUnit;
        if (attrId == null) {
            itemUnit = document.getElementById('itemunit' + itemId).value;
        }
        else {
            var el = document.getElementById(attrId);
            console.log(el);
            itemUnit = el.options[el.selectedIndex].text;
        }

        var unitPriceCtrl = document.getElementById('itemunitprice' + itemId);
        var unitPrice = 0.00;
        switch (itemUnit) {
            case "EA":
                unitPrice = Number(piecePrice).toFixed(2);
                break;
            case "FT":
                unitPrice = Number(ftPrice).toFixed(2);
                break;
            case "CWT":
                unitPrice = Number(weightPrice).toFixed(2);
                break;
            default:
                break;
        }

        unitPriceCtrl.value = `$${unitPrice}`;

        calculateItemTotalPrice(attrId, itemId);
    }
</script>