@using NSS.Plugin.Misc.SwiftPortalOverride.Models
@using NSS.Plugin.Misc.SwiftPortalOverride
@model CompanyOrderListModel
@using Syncfusion.EJ2
@using Nop.Core
@using Nop.Services.Common
@inject IWorkContext workContext
@inject IGenericAttributeService genericAttributeService

@{
    var compIdCookieKey = string.Format(SwiftPortalOverrideDefaults.ERPCompanyCookieKey, workContext.CurrentCustomer.Id);
    string eRPCompanyId = genericAttributeService.GetAttribute<string>(workContext.CurrentCustomer, compIdCookieKey);


}
@{List<object> ObjectData = new List<object>(); }
@{

    @foreach (var order in Model.Orders)
    {
        @if (order.OrderStatusName == "*MULTIPLE*")
        {
            order.IsMultipleShipment = true;
        }

    }
}
<style>

    .e-headercelldiv {
        padding: 0 1.8em 0 1.8em !important;
    }

    .e-headercell.e-lastcell, .e-rowcell.e-gridchkbox {
        padding-left: 0.6rem
    }

    .colorRed {
        color: red !important;
    }

    .home-table-sm-header {
        width: 110px !important;
        background-color: #1899E1 !important;
    }

    .invisible-grid {
        height: 0 !important;
        visibility: hidden;
    }

    .active-page {
        background-color: #1899E1 !important;
        color: #ffffff;
    }

    thead > tr > :nth-child(6) > div, thead > tr > :nth-child(7) > div, thead > tr > :nth-child(8) > div {
        text-align: center !important;
    }

    hr {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .position-align {
        line-height: 21px;
    }
    tbody:nth-child(odd) {
        background: #F2F2F2;
    }
</style>
@{

    Func<object, object>
    Content1 =
    @<div id="viewMtrModal">
        <div class="d-flex flex-column">
            <div class="d-flex flex-column mt-4 mb-2">
                <table class="table table-striped nss-table">
                    <thead class="thead-default">
                        <tr>
                            <td scope="col">MTR #</td>
                            <td scope="col">Heat #</td>
                            <td scope="col" class="text-center">Line #</td>
                            <td scope="col">Description</td>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="p in orderMTRs">
                            <tr>
                                <td><a v-bind:href="p.MtrFile" target="_blank" scope="row" v-cloak>{{p.MtrId}}</a></td>
                                <td v-cloak>{{p.HeatNo}}</td>
                                <td class="text-center" v-cloak>{{p.LineNo}}</td>
                                <td v-cloak>{{p.Description}}</td>
                            </tr>
                        </template>
                        <template v-if="orderMTRs.length == 0">
                            MTR not available.
                        </template>
                    </tbody>
                </table>
            </div>

        </div>
    </div>;
}
@{
    Func<object, object>
    Content2 =
    @<div id="viewMultipleShipmentModal">
        <div class="col-md-12 py-3 d-flex flex-row mt-1" v-if="multipleShipments.PoNo">
            <label class="h4-primary-500-teko text-uppercase mr-3">PO #</label>
            <div class="h5-default position-align">{{multipleShipments.PoNo}}</div>
        </div>
        <div class="d-flex flex-column mb-2">
            <table class="table nss-table">
                <thead class="thead-default">
                    <tr>
                        <td scope="col">Status</td>
                        <td scope="col" class="text-center">Scheduled Date</td>
                        <td scope="col" class="text-center">Shipment Weight (lb)</td>
                        <td scope="col">Item</td>
                        <td scope="col" class="text-right">Qty.</td>
                        <td scope="col" class="text-center">Tot. Item Weight (lb)</td>
                    </tr>
                </thead>
                <tbody v-for="mS in multipleShipments.Shipments">
                    <tr>
                        <td v-bind:rowspan="mS.Items.length">{{mS.Status }}</td>
                        <template v-if="mS.Status.toLowerCase() != `shipped`">
                            <td v-bind:rowspan="mS.Items.length" class="text-center">{{mS.ScheduledDate | date }}</td>
                        </template>
                        <template v-else>
                            <td v-bind:rowspan="mS.Items.length"></td>
                        </template>
                        <td v-bind:rowspan="mS.Items.length" class="text-right">{{mS.TotalWeight }}</td>
                        <td style="white-space: normal;">{{mS.Items[0].Description}}</td>
                        <td class="text-right">{{mS.Items[0].Quantity}}</td>
                        <td class="text-right">{{mS.Items[0].Weight}}</td>
                    </tr>
                    <template v-for="(item, index) in mS.Items.slice(1)">
                        <tr>
                            <td style="white-space: normal;">{{item.Description}}</td>
                            <td class="text-right">{{item.Quantity}}</td>
                            <td class="text-right">{{item.Weight}}</td>
                        </tr>
                    </template>
                </tbody>
                </table>
        </div>
    </div>;
}


@{
    Func<object, object>
    Content3 =
    @<div id="viewMultipleShipmentMobileModal">
        <div class="mx-0 bg-white-shadow mt-4" style="box-shadow: 0px 0px 15px 3px #00000029;" v-for="mS in multipleShipments.Shipments">
            <div class="shipment-data-grid">
                <div>
                    <label class="h4-primary-500-teko mb-0">PO #</label>
                    <ul class="h5-default pb-3">
                        <li>{{multipleShipments.PoNo}}</li>
                    </ul>
                </div>
                <div>
                    <label class="h4-primary-500-teko mb-0">Status</label>
                    <ul class="h5-default pb-3">
                        <li>{{mS.Status}}</li>
                    </ul>
                </div>
                <div>
                    <label class="h4-primary-500-teko mb-0">Scheduled Date</label>
                    <template v-if="mS.Status.toLowerCase() != `shipped`">
                        <ul class="h5-default pb-3">
                            <li>{{mS.ScheduledDate}}</li>
                        </ul>
                    </template>
                    <template v-else>
                    </template>

                </div>
                <div>
                    <label class="h4-primary-500-teko mb-0">Shipment Weight (Lb)</label>
                    <ul class="h5-default pb-3">
                        <li>{{mS.TotalWeight}}</li>
                    </ul>
                </div>
            </div>
            <hr>
            <template v-for="item in mS.Items">
                <div class="shipment-data-grid">
                    <div>
                        <label class="h4-primary-500-teko mb-0">Item</label>
                        <ul class="h5-default pb-3">
                            <li>{{item.Description}}</li>
                        </ul>
                    </div>
                    <div>
                        <label class="h4-primary-500-teko mb-0">Qty.</label>
                        <ul class="h5-default pb-3">
                            <li>{{item.Quantity}}</li>
                        </ul>
                    </div>
                    <div>
                        <label class="h4-primary-500-teko mb-0">Total Item Weight (Lb)</label>
                        <ul class="h5-default pb-3">
                            <li>{{item.Weight}}</li>
                        </ul>
                    </div>
                </div>
            </template>

        </div>
    </div>;
}


<div id="ordersGrid">
    <div v-bind:class="{'invisible-grid': isMobile}">
        <ejs-grid id="OrderGrid" dataSource="@Model.Orders" excelQueryCellInfo="excelQueryCellInfo" queryCellInfo="customiseCell" rowHeight="38" allowExcelExport="true"
                  allowPaging="true" allowFiltering="true" rowSelected="onRowSelected" rowDeselected="onRowDeselected">
            <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
            <e-grid-pagesettings pageSize="100"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column textAlign="Center" headerText="Order #" template="#orderNo" allowFiltering="false"></e-grid-column>
                <e-grid-column textAlign="Center" field="PoNo" headerText="PO #" allowFiltering="false"></e-grid-column>
                <e-grid-column textAlign="Center" field="OrderDateUTC" headerText="Order Date" format="MM/dd/yy" allowFiltering="false"></e-grid-column>
                <e-grid-column textAlign="Center" field="PromiseDateUTC" headerText="Promise Date" format="MM/dd/yy" allowFiltering="false"></e-grid-column>
                @if (Model.IsClosed)
                {
                    <e-grid-column textAlign="Center" field="DeliveryDateUTC" headerText="Delivery Date" format="MM/dd/yy" allowFiltering="false"></e-grid-column>
                }
                else
                {
                    <e-grid-column textAlign="Center" field="ScheduledDateUTC" headerText="Scheduled Date" format="MM/dd/yy" allowFiltering="false"></e-grid-column>
                    <e-grid-column textAlign="Center" template="#orderStatusName" headerText="Status" filter="@(new { type = "CheckBox" })"></e-grid-column>
                }
                <e-grid-column textAlign="Right" field="Weight" headerText="Weight (lb)" format="N0" allowFiltering="false"></e-grid-column>
                <e-grid-column textAlign="Right" field="OrderTotal" headerText="Order Amount" format="C2" maxWidth="130" allowFiltering="false"></e-grid-column>
                @if (Model.IsClosed)
                {
                    <e-grid-column textAlign="Center" template="#viewMtr" headerText="MTR" allowFiltering="false"></e-grid-column>
                    <e-grid-column textAlign="Center" template="#viewTicket" headerText="POD" allowFiltering="false"></e-grid-column>
                }
                <e-grid-column width="1"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

        @{ var title = "<span class='dialog-header'>ORDER <span class='order-detail-id'></span> - Multiple Delivery Details</span>"; }
        @Html.EJS().Dialog("dialog").Visible(false).IsModal(true).Created("onDialogCreated").Header("<span class='dialog-header'>VIEW MTRS</span>").ContentTemplate(@Content1).ShowCloseIcon(true).Visible(false).Width("700px").Target("body").Render()
        @Html.EJS().Dialog("dialog").Visible(false).IsModal(true).Created("onMultipleDialogCreated").Header(title).ContentTemplate(@Content2).ShowCloseIcon(true).Visible(false).Width("850px").Target("body").Render()
        @Html.EJS().Dialog("dialog").Visible(false).IsModal(true).Created("onMultipleMobileDialogCreated").Header(title).ContentTemplate(@Content3).ShowCloseIcon(true).Visible(false).Height("100%").Width("100%").Target("body").Render()

    </div>
    <div v-if="isMobile" v-bind:style="{'margin-bottom': isMobile ? '40px':'0', 'margin-right': isMobile && isExportMode ? '-21px' : '0'}">
        <div v-if="paginatedData.length == 0" style="background:#ffffff; padding: 10px;">
            <label class=".fs12-default"> No records to display</label>
        </div>

        <div v-for="order in paginatedData" class="d-flex">
            <div class="d-flex flex-column bg-white-shadow mb-3 w-100">

                <div class="d-flex flex-row">
                    <div class="d-flex bg-primary p-2 home-table-sm-header">
                        <label class="fs12-white mb-0">Order #</label>
                    </div>
                    <div class="d-flex p-2">
                        <a class="fs12-link" v-bind:href="'/orders/'+order.orderId" v-cloak>{{order.orderId}}</a>
                    </div>
                </div><div class="d-flex flex-row">
                    <div class="d-flex bg-primary p-2 home-table-sm-header">
                        <label class="fs12-white mb-0">Purchase Order #</label>
                    </div>
                    <div class="d-flex p-2">
                        <a class="fs12-link" v-cloak>{{order.poNo}}</a>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <div class="d-flex bg-primary p-2 home-table-sm-header">
                        <label class="fs12-white mb-0">Order Date</label>
                    </div>
                    <div class="d-flex p-2">
                        <label class="fs12-default mb-0" v-cloak>
                            {{order.orderDate|date}}
                        </label>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="d-flex bg-primary p-2 home-table-sm-header">
                        <label class="fs12-white mb-0">Promise Date</label>
                    </div>
                    <div class="d-flex p-2">
                        <label class="fs12-default mb-0" v-cloak>
                            {{order.promiseDate|date}}
                        </label>
                    </div>
                </div>
                @if (Model.IsClosed)
                {
                    <div class="d-flex flex-row">
                        <div class="d-flex bg-primary p-2 home-table-sm-header">
                            <label class="fs12-white mb-0">Delivery Date</label>
                        </div>
                        <div class="d-flex p-2">
                            <label class="fs12-default mb-0" v-cloak>{{order.deliveryDate|date}}</label>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex bg-primary p-2 home-table-sm-header">
                            <label class="fs12-white mb-0"></label>
                        </div>
                        <div class="d-flex p-2">
                            <label class="fs12-link mb-0"><a href="">View</a></label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="d-flex flex-row">
                        <div class="d-flex bg-primary p-2 home-table-sm-header">
                            <label class="fs12-white mb-0">Scheduled Date</label>
                        </div>
                        <div class="d-flex p-2">
                            <label class="fs12-default mb-0" style="color: #DB0606 !important;" v-cloak>{{order.scheduledDate|date}}</label>
                        </div>
                    </div><div class="d-flex flex-row">
                        <div class="d-flex bg-primary p-2 home-table-sm-header">
                            <label class="fs12-white mb-0">Status</label>
                        </div>
                        <div class="d-flex p-2">
                            <template v-if="order.orderStatusName == `*MULTIPLE*`">
                                <a v-on:click="handleMultipleShipmentModal(order.orderId, true)" class="fs12-link" v-cloak>Multiple</a>
                            </template>
                            <template v-else>
                                <label class="fs12-default mb-0" v-cloak>{{ order.orderStatusName }}</label>
                            </template>
                        </div>
                    </div>
                }
                <div class="d-flex flex-row">
                    <div class="d-flex bg-primary p-2 home-table-sm-header">
                        <label class="fs12-white mb-0">Weight (lb)</label>
                    </div>
                    <div class="d-flex p-2">
                        <label class="fs12-default mb-0" v-cloak>{{order.weight}}</label>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="d-flex bg-primary p-2 home-table-sm-header">
                        <label class="fs12-white mb-0">Order Amount</label>
                    </div>
                    <div class="d-flex p-2">
                        <label class="fs12-default mb-0" v-cloak>${{order.orderTotal}}</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="pagination-mobile  d-flex bg-white-shadow py-3 px-2 justify-content-between align-items-center" v-if="isMobile">
            <select id="paginationPageCount" v-on:change="setPageSize(); paginate(currentPage, pageSize);" style="border: none;">
                <option value="10">10 per page</option>
                <option value="20">20 per page</option>
                <option value="50">50 per page</option>
            </select>
            <div>
                <span class="mx-1" style="padding: 2px 1px; background-color: #f6f6f6;font: normal normal 500 16px/18px 'Teko';" v-if="currentPage>1" v-on:click="currentPage -= 1; paginate(currentPage, pageSize);"><img style="transform: rotate(270deg);" src="~/Themes/SwiftPortal/Content/assets/icn-arrow-up.svg" alt=""></span>
                <span v-for="page in pageCount" class="mx-1" v-bind:class="{'active-page': currentPage == page}" style="padding: 2px 10px; background-color: #f6f6f6;font: normal normal 500 16px/18px 'Teko';" v-on:click="currentPage = page; paginate(page, pageSize);">{{page}}</span>
                <span class="mx-1" style="padding: 2px 1px; background-color: #f6f6f6;font: normal normal 500 16px/18px 'Teko';" v-if="currentPage<pageCount" v-on:click="currentPage += 1; paginate(currentPage, pageSize);"><img style="transform: rotate(90deg);" src="~/Themes/SwiftPortal/Content/assets/icn-arrow-up.svg" alt=""></span>

            </div>
        </div>
    </div>
</div>
@functions{
    @using Newtonsoft.Json.Serialization;
    @using Newtonsoft.Json;

    string Serialize(object input)
    {
        return JsonConvert.SerializeObject(input, new JsonSerializerSettings
        {
            ContractResolver = new DefaultContractResolver { NamingStrategy = new CamelCaseNamingStrategy() },
            Formatting = Formatting.None
        });
    }
}
<script>
    var pageModel = @Html.Raw(Serialize(Model));
    var companyId = @Html.Raw(eRPCompanyId);

    var ordergridvm = new Vue({
        el: '#ordersGrid',
        data: {
            window: {
                width: 0,
                height: 0,
            },
            companyId,
            orderMTRs: [],
            isExportMode: false,
            paginatedData: [],
            currentPage: 1,
            pageSize: 10,
            pageCount: 0,
            multipleShipments: {}
        },
        created: function () {
            window.addEventListener("resize", this.handleResize);
            this.handleResize();
            this.paginate(this.currentPage, this.pageSize);
        },
        destroyed: function () {
            window.removeEventListener("resize", this.handleResize);
        },
        computed: {
            isMobile: function () {
                return this.window.width <= 767.98;
            },
        },
        mounted: function () {
            this.formatText();
        },
        methods: {
            handleResize: function () {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
            },
            switchToExport: function () {
                this.isExportMode = true;
            },
            cancelExportMode: function () {
                this.isExportMode = false;
                mobileExcelData = [];
            },
            formatText: function () {
                this.paginatedData.map(g => {
                    g.weight = Math.round(g.weight)?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    g.orderTotal = g.orderTotal.toLocaleString();
                });
            },
            paginate: function (page_number, page_size) {
                page_number = page_number > 0 ? page_number : 1;
                this.currentPage = page_number;
                this.paginatedData = pageModel.orders.slice((page_number - 1) * page_size, page_number * page_size);
                var pageCountDiv = pageModel.orders.length / page_size;
                var pageCountRound = Math.round(pageCountDiv);
                this.pageCount = pageCountRound > pageCountDiv ? pageCountRound : pageCountRound + 1;

            },
            setPageSize() {
                this.pageSize = Number(document.getElementById('paginationPageCount').value);
                if (this.isExportMode) {
                    selectAll(false);
                }
            },
            showLoading: function () {
                $('#custom-loading').show();
            },
            hideLoading: function () {
                $('#custom-loading').hide();
            },
            handleMultipleShipmentModal: function (orderId, isMobile) {
                const request = { orderId }
                this.showLoading();
                const self = this;
                $.ajax({
                    url: "@Url.Action("Shipments", "OrderOverride")",
                    type: 'GET',
                    data: request,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data, _, _) {
                        $('.order-detail-id').html(orderId);
                        self.formatNumber(data.Shipments);
						self.multipleShipments = data;
                        const elements = document.getElementsByClassName("e-dlg-closeicon-btn")
                        for (var i = 0; i < elements.length; i++) {
                            $(elements[i]).removeClass("e-dlg-closeicon-btn");
                        }
                        isMobile ? viewMultipleShipmentMobileModal.show() : viewMultipleShipmentModal.show();
                        self.hideLoading();
                    },
                    error: function (xhr, _, thrownError) {
                        if (thrownError == "Unauthorized") {
                            location.reload();
                        }
                        self.hideLoading();
                    }
                });
            },
            formatNumber: function (data) {
                data.map(g => {
                    g.TotalWeight = (g.TotalWeight).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
                    g.Items.map(it => {
                        it.Weight = (it.Weight).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
                    })
                });
            },
            handleMtrModal: function (orderId) {

                const request = {
                    companyId,
                    orderId
                }

                this.showLoading();
                const self = this;
                $.ajax({
                    url: "@Url.Action("GetOrderMTRs", "OrderOverride")",
                    type: 'GET',
                    data: request,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data, _, _) {
                        self.orderMTRs = data.MTRs;
                        const elements = document.getElementsByClassName("e-dlg-closeicon-btn")
                        for (var i = 0; i < elements.length; i++) {
                            $(elements[i]).removeClass("e-dlg-closeicon-btn");
                        }
                        viewMtrModal.show();
                        self.hideLoading();
                    },
                    error: function (xhr, _, thrownError) {
                        if (thrownError == "Unauthorized") {
                            location.reload();
                        }
                        self.hideLoading();
                    }
                });
            },

        },
    });

    function onDialogCreated() {
        viewMtrModal = this;
    }
    function onMultipleDialogCreated() {
        viewMultipleShipmentModal = this;
    }

    function onMultipleMobileDialogCreated() {
        viewMultipleShipmentMobileModal = this;
    }

    function handleMultipleShipmentModal(orderId, isMobile) {
        ordergridvm.handleMultipleShipmentModal(orderId, isMobile);
    }
    function handleMtrModal(orderId) {
        ordergridvm.handleMtrModal(orderId);
    }
</script>
<script>
    var pageModel = @Html.Raw(Serialize(Model));
    function formatDate(date) {
        date = new Date(date);
        return (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();
    }

    function toolbarClick() {
        var gridObj = document.getElementById("OrderGrid").ej2_instances[0];
        gridObj.excelExport();

    }

    async function cloneArray(orders) {
        return orders.slice();
    }
    async function updateArray(orders) {
        var newOrders = [];
        for (var i in orders) {
            var _order = { ...orders[i] };
            _order.OrderDate = formatDate(_order.OrderDate);
            _order.DeliveryDate = formatDate(_order.DeliveryDate);
            _order.PromiseDate = formatDate(_order.PromiseDate);
            _order.ScheduledDate = formatDate(_order.ScheduledDate);
            newOrders.push(_order);
        }
        return newOrders;
    }
    async function keyToUpperCase(orders) {
        var newOrders = [];
        for (var i in orders) {
            var order = { ...orders[i] };
            for (var key in order) {
                var upper = key.charAt(0).toUpperCase() + key.slice(1);;
                // check if it already wasn't uppercase
                if (upper !== key) {
                    order[upper] = order[key];
                    delete order[key];
                }
            }
            newOrders.push(order);
        }
        return newOrders;
    }
    async function exportExcelMobile() {
        var _orders = await cloneArray(ordergridvm.paginatedData);
        var gridObj = document.getElementById("OrderGrid").ej2_instances[0];
        _orders = await keyToUpperCase(_orders);
        _orders = await updateArray(_orders);

        if (_orders.length > 0) {
            var exportProperties = {
                dataSource: _orders,
                fileName: "OrdersExport.xlsx"
            };
            gridObj.excelExport(exportProperties);
        }
    }

    function excelQueryCellInfo(args) {
        if (args.column.headerText == "Status" && args.value.length === 0) { args.value = args.data.OrderStatusName; }
        if (args.column.headerText == "Order #" && args.value.length === 0) { args.value = args.data.OrderId; }
        if (args.column.headerText == "Order Amount" && args.value.length === 0) { args.value = args.data.OrderTotal; }
    }

    function onRowSelected(args) {
        var gridObj = document.getElementById("OrderGrid").ej2_instances[0];
        var exceldata = gridObj.getSelectedRecords();
        vm.selectedRowCount = exceldata.length;
    }

    function onRowDeselected(args) {
        var gridObj = document.getElementById("OrderGrid").ej2_instances[0];
        var exceldata = gridObj.getSelectedRecords();
        vm.selectedRowCount = exceldata.length;
    }

    function customiseCell(args) {
        if (args.column.field === 'OrderStatusName') {
            if (args.data['OrderStatusName'].indexOf("past due") > -1) {
                args.cell.classList.add('colorRed');
            }
        }
    }

</script>


<script id="orderNo" type="text/x-template">
    <a href="/orders/${OrderId}">${OrderId}</a>
</script>
<script id="viewTicket" type="text/x-template">
    ${if(DeliveryTicketCount > 0)}
    <a href="${DeliveryTicketFile}" target="_blank">View</a>
    ${/if}
</script>
<script id="orderStatusName" type="text/x-template">
    ${if(IsMultipleShipment)}
    <td class="text-center"><a onclick="handleMultipleShipmentModal(${OrderId}, false)" scope="row" class="nss-light-blue">Multiple</a></td>
    ${else}
    <label class="fs12-default mb-0">${OrderStatusName}</label>
    ${/if}
</script>
<script id="viewMtr" type="text/x-template">
    <td class="text-center"><a onclick="handleMtrModal(${OrderId})" scope="row" class="nss-light-blue">View</a></td>
</script>

<ejs-scripts></ejs-scripts>