@using NSS.Plugin.Misc.SwiftCore.Helpers
@using NSS.Plugin.Misc.SwiftPortalOverride.Models
@using Nop.Core.Domain.Catalog
@using Nop.Services.Common
@using Nop.Services.Catalog
@inject IGenericAttributeService genericAttributeService
@inject IProductService productService

@model CheckoutCompleteOverrideModel
@{
    Layout = "_ColumnsOne";
    var themeName = Constants.ThemeName;

    //page class
    Html.AppendPageCssClassParts("html-home-page");
    Html.AddCssFileParts("~/Plugins/Misc.SwiftPortalOverride/Content/checkout.css");
}

@{
    @using Newtonsoft.Json.Serialization;
    @using Newtonsoft.Json;

    var contractResolver = new DefaultContractResolver { NamingStrategy = new CamelCaseNamingStrategy() };
    var shippingAddresses = JsonConvert.SerializeObject(Model.ShippingAddressModel.ExistingAddresses, new JsonSerializerSettings
    {
        ContractResolver = contractResolver,
        Formatting = Formatting.None
    });

    var billingAddresses = JsonConvert.SerializeObject(Model.BillingAddressModel.BillingAddress.ExistingAddresses, new JsonSerializerSettings
    {
        ContractResolver = contractResolver,
        Formatting = Formatting.None
    });

    var pickupPoints = JsonConvert.SerializeObject(Model.ShippingAddressModel.PickupPointsModel.PickupPoints, new JsonSerializerSettings
    {
        ContractResolver = contractResolver,
        Formatting = Formatting.None
    });

    var states = JsonConvert.SerializeObject(Model.StateProvinces, new JsonSerializerSettings
    {
        ContractResolver = contractResolver,
        Formatting = Formatting.None
    });
    var cart = JsonConvert.SerializeObject(Model.ShoppingCartModel, new JsonSerializerSettings
    {
        ContractResolver = contractResolver,
        Formatting = Formatting.None
    });
}

@{
    var checkoutAttributes = Model.ShoppingCartModel.CheckoutAttributes;
    var purchaseOrder = checkoutAttributes.FirstOrDefault(x => x.Name == "Purchase Order #")?.DefaultValue ?? "0";
    var shippingMethodsSelected = checkoutAttributes.FirstOrDefault(x => x.Name == "Delivery Option")?.Values;
    var isDelivery = shippingMethodsSelected?.FirstOrDefault(x => x.Name == "Ship to Customer")?.IsPreSelected ?? false;
    var isPickup = shippingMethodsSelected?.FirstOrDefault(x => x.Name == "Pickup from North Shore Steel")?.IsPreSelected;
}

<div id="checkout" class="page home-page" v-cloak>
    <div class="page-body">
        <label class="h4 text-primary font-weight-bold text-center w-100 mt-4 mb-0">CHECKOUT</label>
        <hr style="height: 2px; color: #000; opacity: 0.5;margin-bottom: 30px;">
        <div class="row px-5" style="justify-content: space-between;">
            <div class="col-9">
                <div class="card card-mod">
                    <label class="h5 text-primary font-weight-bold mb-4">ORDER INFORMATION</label>
                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div class="d-flex flex-column">
                            <label for="purchaseOrder" class="fs-13 text-black">Purchase Order #</label>
                            <label id="purchaseOrder" class="p-2 text-black">{{ purchaseOrder }}</label>
                        </div>
                        <div class="d-flex flex-column ml-5">
                            <label for="deliveryDate" class="fs-13 text-black">Estimated Delivery Date</label>
                            <label id="deliveryDate" class="p-2 text-black">TBD</label>
                        </div>
                        <button class="h6 text-primary mr-5" onclick="setLocation('@Url.Action("Cart", "CartOverride")')">
                            <img src="Themes/@themeName/Content/assets/enter.svg" alt="" width="20" class="mr-2">
                            Edit Shopping Cart
                        </button>
                    </div>
                </div>
                <div class="card card-mod">
                    <h1 class="h5 text-primary font-weight-bold mb-4">SHIPPING OR PICKUP</h1>
                    <div class="d-flex flex-row justify-content-center mb-3">
                        <button class="fs-14 shipping-tab mr-2" :class="{'active': isDelivery}" v-on:click="isDelivery = true;">
                            Delivery
                        </button>
                        <button class="font14 shipping-tab" :class="{'active': !isDelivery}" v-on:click="isDelivery = false;">
                            Pickup
                        </button>
                    </div>

                    <div class="d-flex flex-column mb-3" v-if="isDelivery">
                        <label for="shippingAddress" class="fs-14 text-black mb-1">Shipping Address</label>
                        <div class="d-flex flex-row">
                            <select type="text" class="bg-accent text-black px-2 py-2" id="shippingAddress"
                                    v-on:change="showNewShippingAddress = false;" v-model="shippingAddressId"
                                    v-bind:class="{'w-100': showNewShippingAddress, 'w-75': !showNewShippingAddress}">
                                <option v-bind:value="null">-Select Address-</option>
                                <option v-bind:value="address.id" v-for="address in shared.shippingAddresses">
                                    {{ address.company }}, {{ address.address1 }}, {{ address.city }}, {{ address.stateProvinceName }} {{ address.zipPostalCode }}
                                </option>
                            </select>
                            <button class="fs-14 w-25 text-primary justify-content-end text-decoration-underline"
                                    v-if="!showNewShippingAddress" v-on:click="showNewShippingAddress = true; shippingAddressId = null">
                                Enter a new shiping address
                            </button>
                        </div>
                    </div>
                    <div class="d-flex flex-column mb-3" v-if="!isDelivery">
                        <label for="shippingAddress" class="fs-14 text-black mb-1">North Shore Steel Pickup Location</label>
                        <div class="d-flex flex-row">
                            <select type="text" class="bg-accent text-black w-100 px-2 py-2"
                                    name="shipping-address" id="shippingAddress" v-on:change="" v-model="pickupPointId">
                                <option v-bind:value="null">-Select Address-</option>
                                <option v-bind:value="address.id" v-for="address in shared.pickupPoints">
                                    {{ address.name }}, {{ address.address }}, {{ address.city }}, {{ address.stateProvinceName }} {{ address.zipPostalCode }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <hr v-if="showNewShippingAddress && isDelivery" />
                    <div class="d-flex flex-column" v-if="showNewShippingAddress && isDelivery">
                        <h1 class="h5 text-primary font-weight-bold mb-2">NEW ADDRESS</h1>
                        <div class="d-flex flex-row mt-3">
                            <div class="d-flex flex-column w-50 mr-2">
                                <label class="fs-14 text-black mb-1">Address Line 1</label>
                                <input type="text" class="nss-form-control" v-model="newShippingAddress.address1" placeholder="Ex: 1234 Main St." />
                            </div>
                            <div class="d-flex flex-column w-50 ml-2">
                                <label class="fs-14 text-black mb-1">Address Line 2</label>
                                <input type="text" class="nss-form-control" v-model="newShippingAddress.address2" placeholder="Ex: Ste. 800" />
                            </div>
                        </div>
                        <div class="row d-flex flex-row mt-4">
                            <div class="col-md-6 d-flex flex-column pr-2">
                                <label class="fs-14 text-black mb-1">City</label>
                                <input type="text" class="nss-form-control" v-model="newShippingAddress.city" placeholder="Ex: Dallas" />
                            </div>
                            <div class="col-md-4 d-flex flex-column px-2">
                                <label class="fs-14 text-black mb-1">State</label>
                                <select type="text" class="nss-form-control" name="state" v-model="newShippingAddress.stateProvinceId">
                                    <option v-bind:value="null">-Select-</option>
                                    <option v-bind:value="option.id" v-for="option in shared.states">
                                        {{ option.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2 d-flex flex-column pl-2">
                                <label class="fs-14 text-black mb-1">Zip Code</label>
                                <input type="text" class="nss-form-control" v-model="newShippingAddress.zipPostalCode" placeholder="Ex: 77014" />
                            </div>
                        </div>
                        <div class="d-flex flex-row mt-4">
                            <label class="nss-radio-button">
                                Save to My Addresses
                                <input type="checkbox" v-bind:checked="newShippingAddress.saveToMyAddresses" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="d-flex flex-row mt-3">
                            <div class="d-flex flex-column w-75">
                                <label class="fs-14 text-black mb-1">Address Nickname</label>
                                <input type="text" class="nss-form-control" placeholder="Ex: 'South Warehouse'" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-mod">
                    <label class="h5 text-primary font-weight-bold mb-4">PAYMENT METHOD</label>
                    <div class="d-flex flex-column mb-3">
                        <div class="d-flex flex-row flex-wrap justify-content-between">
                            <div class="d-flex flex-row payment-item-card align-items-start p-4 w-30 cursor-pointer"
                                 v-bind:class="{'active': paymentMethodIndex === shared.constants.PAYMENT_METHOD_CREDIT_CARD}"
                                 v-on:click="paymentMethodIndex = shared.constants.PAYMENT_METHOD_CREDIT_CARD">
                                <img src="Themes/@themeName/Content/assets/credit-card.svg" alt="" width="24">
                                <div class="d-flex flex-column ml-2">
                                    <label class="fs-18 font-weight-bold mb-1 cursor-pointer">Credit/Debit</label>
                                    <label class="fs-12 mb-0 cursor-pointer">Pay with credit/debit card</label>
                                </div>
                            </div>
                            <div class="d-flex flex-row payment-item-card align-items-start p-4 w-30 cursor-pointer"
                                 v-bind:class="{'active': paymentMethodIndex === shared.constants.PAYMENT_METHOD_PAYPAL}"
                                 v-on:click="paymentMethodIndex = shared.constants.PAYMENT_METHOD_PAYPAL">
                                <img src="Themes/@themeName/Content/assets/paypal.svg" alt="" width="24">
                                <div class="d-flex flex-column ml-2">
                                    <label class="fs-18 font-weight-bold mb-1 cursor-pointer">Paypal</label>
                                    <label class="fs-12 mb-0 cursor-pointer">Pay with PayPal account</label>
                                </div>
                            </div>
                            <div class="d-flex flex-row payment-item-card align-items-start p-4 w-30 cursor-pointer"
                                 v-bind:class="{'active': paymentMethodIndex === shared.constants.PAYMENT_METHOD_LINE_OF_CREDIT}"
                                 v-on:click="paymentMethodIndex = shared.constants.PAYMENT_METHOD_LINE_OF_CREDIT">
                                <img src="Themes/@themeName/Content/assets/dollar.svg" alt="" width="24">
                                <div class="d-flex flex-column ml-2">
                                    <label class="fs-18 font-weight-bold mb-1 cursor-pointer">Line of Credit</label>
                                    <label class="fs-12 mb-0 cursor-pointer">Balance: $2,076.25</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column" v-if="paymentMethodIndex === shared.constants.PAYMENT_METHOD_CREDIT_CARD">
                        <div class="row d-flex flex-row mt-3">
                            <div class="col-md-3 d-flex flex-column w-50">
                                <label class="fs-14 text-black mb-1">Select card</label>
                                <select type="text" class="nss-form-control" v-model="paymentCard.cardType">
                                    @*<option v-bind:value="option.id" v-for="option in states">
                                            {{ option.name }}
                                        </option>*@
                                </select>
                            </div>
                            <div class="col-md-9 d-flex flex-column w-50">
                                <label class="fs-14 text-black mb-1">Cardholder name</label>
                                <input type="text" class="nss-form-control" v-model="paymentCard.cardHolderName" placeholder="Ex: James Doe" />
                            </div>
                        </div>
                        <div class="row d-flex flex-row mt-3">
                            <div class="col-md-7 d-flex flex-column w-50">
                                <label class="fs-14 text-black mb-1">Card number</label>
                                <input type="text" class="nss-form-control" v-model="paymentCard.cardNumber" placeholder="Ex: 000000000000000" />
                            </div>
                            <div class="col-md-3 d-flex flex-column w-50">
                                <label class="fs-14 text-black mb-1">Expiration date</label>
                                <div class="d-flex flex-row align-items-center">
                                    <select type="text" class="bg-accent text-black px-2 py-2  w-50" id="shippingAddress" v-model="paymentCard.cardExpirationMonth">
                                        <option v-bind:value="month" v-for="month in expirationMonths">
                                            {{ month }}
                                        </option>
                                    </select>
                                    <span class="fs-18 mx-3">/</span>
                                    <select type="text" class="bg-accent text-black px-2 py-2 w-50" id="shippingAddress" v-model="paymentCard.cardExpirationYear">
                                        <option v-bind:value="year" v-for="year in expirationYears">
                                            {{ year }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex flex-column w-50">
                                <label class="fs-14 text-black mb-1">Card code</label>
                                <input type="text" class="nss-form-control" v-model="paymentCard.cardCode" placeholder="Ex: 000" />
                            </div>
                        </div>

                        <h1 class="h5 text-primary font-weight-bold mt-3">Billing Address</h1>
                        <div class="d-flex flex-column mt-2" v-if="!shipToSameAddress">
                            <div class="d-flex flex-row">
                                <select type="text" class="bg-accent text-black px-2 py-2"
                                        id="shippingAddress" v-on:change="showNewBillingAddress = false;" v-model="billingAddressId"
                                        v-bind:class="{'w-100': showNewBillingAddress, 'w-75' : !showNewBillingAddress}">
                                    <option v-bind:value="null">-Select Address-</option>
                                    <option v-bind:value="address.id" v-for="address in shared.billingAddresses">
                                        {{ address.company }}, {{ address.address1 }}, {{ address.city }}, {{ address.stateProvinceName }} {{ address.zipPostalCode }}
                                    </option>
                                </select>
                                <button class="fs-14 w-25 text-primary justify-content-end text-decoration-underline"
                                        v-if="!showNewBillingAddress" v-on:click="showNewBillingAddress = true; billingAddressId = null">
                                    Enter new billing address
                                </button>
                            </div>

                            <div class="d-flex flex-column" v-if="showNewBillingAddress">
                                <h1 class="h5 text-primary font-weight-bold mb-2 mt-3">NEW ADDRESS</h1>
                                <div class="d-flex flex-row mt-3">
                                    <div class="d-flex flex-column w-50 mr-2">
                                        <label class="fs-14 text-black mb-1">Address Line 1</label>
                                        <input type="text" class="nss-form-control" v-model="newBillingAddress.address1" placeholder="Ex: 1234 Main St." />
                                    </div>
                                    <div class="d-flex flex-column w-50 ml-2">
                                        <label class="fs-14 text-black mb-1">Address Line 2</label>
                                        <input type="text" class="nss-form-control" v-model="newBillingAddress.address2" placeholder="Ex: Ste. 800" />
                                    </div>
                                </div>
                                <div class="row d-flex flex-row mt-4">
                                    <div class="col-md-6 d-flex flex-column pr-2">
                                        <label class="fs-14 text-black mb-1">City</label>
                                        <input type="text" class="nss-form-control" v-model="newBillingAddress.city" placeholder="Ex: Dallas" />
                                    </div>
                                    <div class="col-md-4 d-flex flex-column px-2">
                                        <label class="fs-14 text-black mb-1">State</label>
                                        <select type="text" class="nss-form-control" v-model="newBillingAddress.stateProvinceId">
                                            <option v-bind:value="null">-Select-</option>
                                            <option v-bind:value="option.id" v-for="option in shared.states">
                                                {{ option.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 d-flex flex-column pl-2">
                                        <label class="fs-14 text-black mb-1">Zip Code</label>
                                        <input type="text" class="nss-form-control" v-model="newBillingAddress.zipPostalCode" placeholder="Ex: 77014" />
                                    </div>
                                </div>
                                <div class="d-flex flex-row mt-4">
                                    <label class="nss-radio-button">
                                        Save to My Addresses
                                        <input type="checkbox" v-bind:checked="newBillingAddress.saveToMyAddresses" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="d-flex flex-row mt-3">
                                    <div class="d-flex flex-column w-75">
                                        <label class="fs-14 text-black mb-1">Address Nickname</label>
                                        <input type="text" class="nss-form-control" placeholder="Ex: 'South Warehouse'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <label class="nss-checkbox">
                                Same as shipping address
                                <input type="checkbox" v-bind:checked="shipToSameAddress"
                                       v-on:change="shipToSameAddress = !shipToSameAddress;">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                    <div v-if="paymentMethodIndex === shared.constants.PAYMENT_METHOD_PAYPAL">
                        <label class="text-primary">
                            You will be redirected to a paypal page where you'll be able to make payment when you click "PLACE ORDER".
                        </label>
                    </div>
                    <div v-if="paymentMethodIndex === shared.constants.PAYMENT_METHOD_LINE_OF_CREDIT">
                        <label class="text-primary">Line of credit payment method will be used when you click "PLACE ORDER".</label>
                    </div>
                </div>
                <div class="d-flex flex-column">

                    <label class="h4 text-primary font-weight-bold text-center mt-4 mb-0">ORDER SUMMARY</label>
                    <hr style="color: rgb(7, 7, 107); margin-bottom: 20px;">
                    <table class="table table-bordered catalog-table font12" id="catalogTable" onload="sortTable(0)">
                        <thead>
                            <tr>
                                <th scope="col">Item #</th>
                                <th scope="col">Description</th>
                                <th scope="col">Customer Part #</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Total Weight (lbs)</th>
                                <th scope="col">Qty.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ShoppingCartModel.Items)
                            {
                                var product = productService.GetProductById(item.ProductId);
                                var attr = genericAttributeService.GetAttributesForEntity(item.ProductId, nameof(Product));

                                var itemTagNo = attr.FirstOrDefault(x => x.Key == "itemTagNo")?.Value;
                                var itemNo = attr.FirstOrDefault(x => x.Key == "itemNo")?.Value;
                                string serialized = attr.FirstOrDefault(x => x.Key == "serialized")?.Value;
                                var iNo = serialized == "True" ? itemTagNo : itemNo;
                                var weight = Decimal.ToDouble(product.Weight);
                                weight = (weight * item.Quantity);
                                var totalWeight = DoFormat(weight);

                                <tr>
                                    <td>@iNo</td>
                                    <td>@item.ProductName</td>
                                    <td>P-12345</td>
                                    <td>@item.UnitPrice / CW</td>
                                    <td>@item.SubTotal</td>
                                    <td>@totalWeight</td>
                                    <td>@item.Quantity</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3">
                <div class="card card-mod">
                    <label class="fs-12 text-primary font-weight-bold text-center">ORDER INFORMATION</label>
                    <div class="order-summary mt-2">
                        <div class="price-summary">
                            <label class="text-muted">Sub-Total:</label>
                            <label class="text-black font-weight-bold">{{ subTotal }}</label>
                        </div>
                        <div class="price-summary">
                            <label class="text-muted">Shipping:</label>
                            <label class="text-black font-weight-bold">TBD</label>
                        </div>
                        <div class="price-summary">
                            <label class="text-muted">Discount:</label>
                            <label class="text-black font-weight-bold">TBD</label>
                        </div>
                        <div class="price-summary">
                            <p class="discount-tag font12">10% OFF | 10,000lbs</p>
                        </div>
                        <div class="price-summary">
                            <label class="text-muted">Tax:</label>
                            <label class="text-black font-weight-bold">TBD</label>
                        </div>
                        <div class="price-summary">
                            <label class="h5 text-black font-weight-bold">TOTAL</label>
                            <label class="h5 text-black font-weight-bold">${{ orderTotal }}</label>
                        </div>
                    </div>
                </div>
                <div style="display:flex;justify-content: center;">
                    <button class="font14"
                            v-on:click="placeOrder"
                            style="margin-right:2px;background-color: rgb(68, 89, 145);color: #fff; padding: 5px 15px;">
                        PLACE ORDER
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
@functions{
    string DoFormat(double myNumber)
    {
        var s = string.Format("{0:0.00}", myNumber);

        return s;
    }
}
<script>
    var shippingAddresses = @Html.Raw(shippingAddresses);
    var billingAddresses = @Html.Raw(billingAddresses);
    var pickupPoints = @Html.Raw(pickupPoints);
    var states = @Html.Raw(states);
    var cart = @Html.Raw(cart);
    var purchaseOrder = '@purchaseOrder';
    var isDelivery = '@isDelivery' === 'True';

    console.log("cart: ", cart);

    const store = {
        state: {
            shippingAddresses,
            billingAddresses,
            pickupPoints,
            states,
            cart,

            constants: {
                PAYMENT_METHOD_CREDIT_CARD: 1,
                PAYMENT_METHOD_PAYPAL: 2,
                PAYMENT_METHOD_LINE_OF_CREDIT: 3,
            },
        },
    };

    new Vue({
        el: '#checkout',
        data: {
            shared: store.state,
            purchaseOrder,
            isDelivery,
            shippingAddressId: shippingAddresses.length > 0 ? shippingAddresses[0].id : null,
            pickupPointId: pickupPoints.length > 0 ? pickupPoints[0].id : null,
            showNewShippingAddress: false,
            newShippingAddress: {
                address1: null,
                address2: null,
                city: null,
                stateProvinceId: null,
                zipPostalCode: null,
                saveToMyAddresses: false,
                countryId: 1,
            },
            paymentMethodIndex: 1,
            paymentCard: {
                cardType: null,
                cardHolderName: null,
                cardNumber: null,
                cardExpirationMonth: null,
                cardExpirationYear: null,
                cardCode: null,
            },
            shipToSameAddress: false,
            expirationMonths: [],
            expirationYears: [],
            billingAddressId: null,
            showNewBillingAddress: false,
            newBillingAddress: {
                address1: null,
                address2: null,
                city: null,
                stateProvinceId: null,
                zipPostalCode: null,
                saveToMyAddresses: false,
                countryId: 1,
            },
        },
        mounted: function () {
            this.generateExpirationMonthsAndYears();
        },
        computed: {
            subTotal: function () {
                const subTotals = this.shared.cart.items.map(x => Number(x.subTotal.replace('$', '')));
                return subTotals.reduce((a, b) => a + b, 0);
            },
            orderTotal: function () {
                return this.subTotal;
            },
        },
        methods: {
            handlePaymentClick: function (item, model) {
                console.log("item: ", item);
                console.log("model: ", JSON.stringify(model));
                const request = { PaymentMethod: item.paymentMethodSystemName, Model: model };
                const self = this;
                $.ajax({
                    url: "@Url.Action("SwiftSavePaymentMethod", "CheckoutOverride")",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(request),
                    success: function (data, textStatus, XMLHttpRequest) {
                        if (data != null) {
                            self.showPaymentInfo = true;
                            self.paymentHtml = data.update_section.html;
                            var paymentInfo = $('#payment-info-section');
                            console.log("paymentInfo: ", paymentInfo);
                            console.log("handlePaymentClick success: ", self.paymentHtml);
                            paymentInfo.html(data.update_section.html);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError, 'handlePaymentClick datadata-error', xhr);
                    }
                });
            },

            generateExpirationMonthsAndYears: function () {
                let months = [];
                for (let i = 1; i <= 12; i++) {
                    const retVal = i < 10 ? `0${i}` : i;
                    months = [...months, retVal];
                }
                let years = [];
                const currentYear = (new Date()).getFullYear();
                for (let i = 0; i < 15; i++) {
                    const retVal = currentYear + i;
                    years = [...years, retVal];
                }

                this.expirationMonths = months;
                this.paymentCard.cardExpirationMonth = months[0];
                this.expirationYears = years;
                this.paymentCard.cardExpirationYear = years[0];
            },

            placeOrder: function () {
                const shippingAddressId = this.shippingAddressId ?? 0;
                let shippingNewAddress = {...this.newShippingAddress};
                let pickupPoint = this.shared.pickupPoints.find(x => x.id === this.pickupPointId);

                const shipToSameAddress = this.shipToSameAddress;
                const billingAddressId = shipToSameAddress ? shippingAddressId : (this.billingAddressId ?? 0);
                const billingNewAddress = {...this.newBillingAddress};

                const request = {
                    shippingAddress: {
                        shippingNewAddress,
                        pickupPoint,
                        shippingAddressId,
                        saveToAddressBook: this.newShippingAddress.saveToMyAddresses,
                        isPickupInStore: !this.isDelivery,
                    },
                    billingAddress: {
                        shipToSameAddress,
                        billingNewAddress,
                        billingAddressId,
                        saveToAddressBook: this.newBillingAddress.saveToMyAddresses,
                    },
                    paymentMethodModel: {
                        checkoutPaymentMethodType: this.paymentMethodIndex,
                    },
                    hasError: false,
                };
                console.log("request: ", request);
                $.ajax({
                    url: "@Url.Action("PlaceOrder", "CheckoutOverride")",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(request),
                    success: function (data, textStatus, XMLHttpRequest) {
                        console.log("PlaceOrder response: ", data);
                        if (data?.error === 1) {
                            alert(data.message);
                            return;
                        }
                        if (data != null) {
                            window.location.href = '/Completed?OrderId=' + data.orderId;
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log("PlaceOrder error: ", thrownError, xhr);
                    }
                });
            },
        },
    });
</script>